{% if status == 200 or status == 240 %}
    <div>
	Abfrage der Klosterdatenbank erfolgreich.
    </div>
    {% set pb_width=totalCount * 100 // maxCount %}
    <div class="progress w-25">
	<div class="progress-bar"
	     style="width: {{ pb_width }}%"
	     role="progressbar"
	     aria-label="Zahl der Klosterdaten"
	     aria-valuenow="{{ totalCount }}"
	     aria-valuemin="0"
	     aria-valuemax="{{ maxCount }}"></div>
    </div>
{% else %}
    <div>Abfrage der Klosterdatenbank beendet mit Status {{ status }}.</div>
{% endif %}
<div>Zahl der ausgelesenen Klosterdaten: <span class="total-count">{{ totalCount }}</span></div>
<div>Zahl der neu angelegten Klöster: <span class="new-count">{{ createdCount }}</span></div>
