{% extends 'base.html.twig' %}
{% set menuItem='collections' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% set permalink %}{{ protocol }}:{{ url('id', {id: diocese.item.idPublic}, schemeRelative = true) }}{% endset %}
    {% set citation %}"{{ diocese.displayname }}" in: WIAG, {{ protocol }}:{{ url('id', {id: diocese.item.idPublic}, schemeRelative = true) }} (Abgerufen: {{ "now"|date('d.m.Y') }}).{% endset %}

    <div class="container-fluid mt-3 mb-2">
	{% if not diocese%}
	    <p class="em">Bistum nicht gefunden.</p>
	{% else %}
	    {% set btnpanel %}
	    <div class="row mx-2 col-12 mt-4 mb-2">
		<div class="d-flex">
		    {% if form is defined %}
			{{ include('diocese/_button_step.html.twig',
			    {value: offset - 1, disabled: offset == 0, text: 'vorheriger Treffer'}) }}
			{{ include('diocese/_button_step.html.twig',
			    {value: offset + 1, disabled: not hassuccessor, text: 'nächster Treffer'}) }}
			<button type="submit" form="form" class="btn btn-outline-secondary btn-sm me-1" name="offset" value="{{ offset }}">Ergebnisliste</button>
		    {% endif %}
		    {# button data #}
		    {% for fmtft in [
			{format: 'Csv', text: 'CSV'},
			{format: 'Rdf', text: 'RDF-XML'},
			{format: 'Json', text: 'JSON'},
			{format: 'Jsonld', text: 'JSON-LD'},
		    ] %}
			<a href="{{ path('id', {id: diocese.item.idpublic, format: fmtft.format}) }}" type="button" class="btn btn-secondary btn-light btn-sm ms-2">{{ fmtft.text }}</a>
		    {% endfor %}
		</div>
	    </div>
	{% endset %}
	    {% if form is defined %}
		{{ form_start(form, {'attr': {'id':'form', 'action': path('diocese_query'), 'hidden': 'hidden'}}) }}
		{{ form_end(form) }}
	    {% endif %}
	    <div class="row col-12 mx-2">
		<span class="topic-title">{{ diocese_title }} <a href="{{ path('reference_list', { 'itemTypeId': 1}) }}"><span class="text-nowrap">(nach Erwin Gatz)</span></a></span>
	    </div>
	    {{ btnpanel }}
	    <div class="row col-12 mx-2 mt-2 mb-0">
		<div class="d-flex justify-content-between">
		    <span class="fs-2">{{ diocese.displayname }}</span>
		    <button type="button"
				  class="btn"
				  title="{{ permalink }}"
				  {{ stimulus_controller('clipboard') }}
			    data-action="clipboard#copyTitle">{{ diocese.item.idPublic }} <img src="{{ asset('images/link45deg.svg') }}" width="18"></button>
		</div>
	    </div>
	    {% if diocese.altlabels|length > 0 %}
		<div class="row mx-2">
		    <div class="col-12">
			{{ diocese.altLabelLine }}
		    </div>
		</div>
	    {% endif %}
	    {% if diocese.note %}
		<div class="row mx-2 col-12 mt-1">
		    <span class="comment">{{ diocese.note }}</span>
		</div>
	    {% endif %}

	    <dl class="row mx-2 mt-3">
		{% if diocese.bishopricseat %}
		    {% set b = diocese.bishopricseat %}
		    <dt class="col-sm-3">Bischofssitz</dt>
		    <dd class="col-sm-9"><a href={{ url_geonames ~ b.geonamesid }} target="_blank" rel="noopener">{{ b.name }}</a></dd>
		    {% if diocese.notebishopricseat %}<dt class ="col-sm-3"></dt>
			<dd class="col-sm-9"><span class="comment">{{- diocese.notebishopricseat -}}</span></dd>{% endif %}
		{% endif %}
		{% if diocese.dateoffounding %}
		    <dt class="col-sm-3">Gründung</dt>
		    <dd class="col-sm-9">{{ diocese.dateoffounding }}</dd>
		{% endif %}
		{% if diocese.dateofdissolution %}
		    <dt class="col-sm-3">Aufhebung</dt>
		    <dd class="col-sm-9">{{ diocese.dateofdissolution }}</dd>
		{% endif %}
		{% if diocese.ecclesiasticalprovince %}
		    <dt class="col-sm-3">Kirchenprovinz</dt>
		    <dd class="col-sm-9">{{ diocese.ecclesiasticalprovince }}</dd>
		{% endif %}

		{% if diocese.item.idExternal %}
		    <dt class="col-sm-3">Externe Identifier</dt>
		    <dd class="col-sm-9">
			<ul class ="list-unstyled">
			    {% for id in diocese.item.idExternal|sort((a, b) => a.authority.displayorder <=> b.authority.displayorder) %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">{{ id.authority.urlnameformatter }}</li>
					<li class="list-inline-item"><a href={{ id.authority.urlformatter ~ id.value }} target="_blank" rel="noopener">{{ id.value }}</a></li>
				    </ul>
				</li>
			    {% endfor %}
			    {% if diocese.noteauthorityfile %}
				<li><span class="comment">{{ diocese.noteauthorityfile }}</span></li>
			    {% endif %}
			</ul>
		    </dd>
		{% endif %}
		{% if diocese.item.reference %}
		    {% set references=diocese.item.reference %}
		    <dt class="col-sm-3">{{ references|length > 1 ? 'Referenzwerke' : 'Referenzwerk' }}</dt>
		    <dd class="col-sm-9">
			<ul class="{% if references|length == 1 %}list-unstyled{% else %}pl-3{% endif %} small">
			    {% for ref in references %}
				{% set idinref = ref.idinreference %}
				{% set refuri %}{% if ref.referencevolume.onlineresource %}{{ ref.referencevolume.onlineresource }}{% else %}{{ path('reference', {'id': ref.referencevolume.id }) }}{% endif %}{% endset %}
				<li>{{ ref.referencevolume.titleshort }}{% if ref.page %}, S. {{ ref.page }}{% if idinref %}, ID/Nr. {{ idinref }}{% endif %}{% else %}{% if idinref %}, ID/Nr. {{ idinref }}{% endif %}{% endif %}</li>
			    {% endfor %}
			</ul>
		    </dd>
		{% endif %}
	    </dl>

	    <div class="row mx-2">
		<div class="col-12">
		    Empfohlene Zitierweise:
		    <button type="button"
			    class="btn btn-sm"
			    title="Kopiere die Zitierweise"
			    {{ stimulus_controller('clipboard') }}
			    data-action="clipboard#copyCitation"><img src="{{ asset('images/clipboard.svg') }}"></button><br/>
		    <span id="citation">{{ citation }}</span>
		</div>
	    </div>
	    {{ btnpanel }}
	    </div>
	{% endif %}
    </div>
{% endblock %}
