{% extends 'base.html.twig' %}

{% block title %}Normdaten{% endblock %}

{% block body %}
    <div class="container-fluid">
	<div class="row ms-2 col-12">
	    <h1>Normdaten/Externe Ressourcen</h1>
	</div>
	{{ form_start(form, {
	    'attr': {
		'data-controller': 'submit-form',
		'data-action': 'change->submit-form#onChange',
	    }
	}) }}
	    <div class="row ms-2">
		<div class="col-12">
		    <div class="d-flex flex-wrap">
			<div class="w-20 me-2">
			    {{ form_label(form.type) }}
			    {{ form_errors(form.type) }}
			    {{ form_widget(form.type, {
				'attr': {
				    'class': 'wiag-input'
				}
			    }) }}
			</div>
			<div class="w-15 me-2">
			    {{ form_label(form.sortBy) }}
			    {{ form_errors(form.sortBy) }}
			    {{ form_widget(form.sortBy, {
				'attr': {
				    'class': 'wiag-input'
				}
			    }) }}
			</div>
		    </div>
		</div>
	    </div>
	    <div class="row mt-2 ms-2">
		<div class="col-12">
		    <button type="submit" class="btn btn-secondary btn-light btn-sm">Suche</button>
		</div>
	    </div>
	{{ form_end(form) }}
	{{ include('edit_authority/_list.html.twig') }}
    </div>
{% endblock %}
