<div class="mx-2 my-2 border rounded">
    {# header #}
    {% set online_image = person.item.isonline ? 'images/symbols/square-fill-online.svg' : 'images/symbols/square-fill-not-online.svg' %}
    <div class="row col-12 ps-0"
	 {{ stimulus_controller('toggle-arrow', {
	     state: true,
	     imgOpen: 'down',
	     imgClosed: 'right'
	 }) }}
	 data-action="shown.bs.collapse->toggle-arrow#shown hidden.bs.collapse->toggle-arrow#hidden">
	<div class="hstack gap-3 my-2">
	    <span class="text-nowrap">
		<button class="btn btn-sm ms-1 pt-0 align-middle"
		    type="button"
		    data-bs-toggle="collapse"
		    data-bs-target={{ "#body#{person.item.id}" }}
		    aria-expanded="false"
		    aria-controls={{ "body#{person.item.id}" }}
		    data-toggle-arrow-target="button"
		    data-value="down"><img src="{{ asset('images/symbols/caret-right-square.svg') }}" /></button>
		<input class="form-check-input ms-0 pt-0 mt-0 align-middle" type="checkbox" value="" id="{{ editFormId }}_flag_changed" name="{{ editFormId }}[{{ loop.index0 }}][flag_changed]">
		<img class="align-middle" src="{{ asset(online_image) }}"/>
	    </span>
	    <span><strong>{{ person.describe }}</strong>{% if person.describerole(2) %}, {{ person.describerole(2) }}{% endif %}
		<span class="wiag-log text-nowrap">- geändert: {{ person.item.datechanged|format_datetime() }}, {{ person.item.userwiagchange.email }}</span>
	    </span>
	    <div class="vr ms-auto"></div>
	    <span>{{ person.item.id }}
		<input type="text" id="{{ editFormId }}_{{ loop.index0 }}_item_id"
		       name="{{ editFormId }}[{{ loop.index0 }}][item][id]"
		       class="form-control form-control-sm"
		       value="{{ person.item.id }}"
		       hidden="hidden>">
	    </span>
	    <div class="bg-light">{{ person.item.editstatus }}</div>
	</div>
	<div class="row col-12 collapse multi-collapse pe-0" id={{ "body#{person.item.id}" }}>
	    {{ include('edit_bishop/_input_name.html.twig') }}
	    {% set outer_index=loop.index0 %}
	    {% for role in person.role %}
	    	{{ include('edit_bishop/_input_role.html.twig', { 'outer_index': outer_index }) }}
	    {% endfor %}
	</div>
    </div>

</div>
