{% set itemTypeId=constant('App\\Entity\\Item::ITEM_TYPE_ID')['Bischof'] %}
<div class="row mx-2 mt-3">
    <div class="col-12">
	<div class="d-flex flex-wrap"
	     data-action="input->hide-on-input#hideResults">
	    {# name #}
	    <div class="me-2 mt-1"
		 {{ stimulus_controller('autocomplete', {
		     url: path('bishop_suggest', {field: 'name'}),
		 }) }}>
		{{ form_label(form.name) }}
		{{ form_errors(form.name) }}
		{{ form_widget(form.name, {
		    attr: {
			'data-autocomplete-target': "input",
			'size': 31,
		    }
		}) }}
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 20rem;"></ul>
	    </div>
	    {# diocese #}
	    <div class="me-2 mt-1"
		 {{ stimulus_controller('autocomplete', {
		     url: path('bishop_suggest', {field: 'diocese'}),
		 }) }}>
		{{ form_label(form.diocese) }}
		{{ form_errors(form.diocese) }}
		{{ form_widget(form.diocese, {
		    attr: {
			'data-autocomplete-target': "input",
			'size': 15,
		    }
		}) }}
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 9em;"></ul>
	    </div>
	    {# office #}
	    <div class="me-2 mt-1"
		 {{ stimulus_controller('autocomplete', {
		     url: path('bishop_suggest', {field: 'office'}),
		 }) }}>
		{{ form_label(form.office) }}
		{{ form_errors(form.office) }}
		{{ form_widget(form.office, {
		    attr: {
			'data-autocomplete-target': "input",
			'size': 18,
		    }
		}) }}
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 12em;"></ul>
	    </div>
	    {{  form_row(form.year, { row_attr: {class: 'me-2 mt-1'}}) }}
	    {{  form_row(form.someid, {row_attr: {class: 'mt-1'}}) }}
	</div>
    </div>
</div>
{# second row #}
<div class="row mx-2 mt-1">
    <div class="col-12">
	<div class="d-flex flex-wrap"
	     data-action="input->hide-on-input#hideResults">
	    <div class="me-2 mt-1"
		 {{ stimulus_controller('autocomplete', {
		     url: path('person_suggest', {itemTypeId: itemTypeId, field: 'editStatus'}),
		 }) }}>
		{{ form_label(form.editStatus) }}
		{{ form_errors(form.editStatus) }}
		{{ form_widget(form.editStatus, {
		    attr: {
			'data-autocomplete-target': "input",
			'size': 18,
		    }
		}) }}
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 12em;"></ul>
	    </div>
	    <div class="me-2 mt-1"
		 {{ stimulus_controller('autocomplete', {
		     url: path('bishop_suggest', {field: 'commentduplicate'}),
		 }) }}>
		{{ form_label(form.commentDuplicate) }}
		{{ form_errors(form.commentDuplicate) }}
		{{ form_widget(form.commentDuplicate, {
		    attr: {
			'data-autocomplete-target': "input",
			'size': 18,
		    }
		}) }}
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 12em;"></ul>
	    </div>
	    <div class="me-2 mt-1">
		{{ form_label(form.listSize) }}
		{{ form_errors(form.listSize) }}
		{{ form_widget(form.listSize) }}
	    </div>
	    <div class="me-2 ms-3 mt-1">
		{{ form_label(form.isOnline) }}
		{{ form_errors(form.isOnline) }}
		{{ form_widget(form.isOnline) }}
	    </div>
	    <div class="me-2 mt-1">
		{{ form_label(form.isDeleted) }}
		{{ form_errors(form.isDeleted) }}
		{{ form_widget(form.isDeleted) }}
	    </div>
	</div>
    </div>
</div>



{# {{ form_end(form) }} #}
