<div class="mt-2 mb-0"> {# empty div to have the same structure for all sections #}
    <div class="input-group input-group-sm">
	{% if newEntry > 0%}
	    <span class="input-group-text">Id</span>
	    <input type="text" id="{{ base_id }}_item_id_in_source"
		   name="{{ base_input_name}}[item][idInSource]"
		   class="form-control form-control-sm wiag-input me-2"
		   style="max-width: 5em"
		   value="{{ person.item.idinsource }}"
		   aria-label="Kommentar Dublette">

	{% endif %}
	<span class="input-group-text">Status</span>
	<span {{ stimulus_controller('autocomplete', {
		  url: path('person_suggest', {itemTypeId: itemTypeId, field: 'editStatus'}),
	      }) }} >
	    <input type="text" id="{{ base_id }}_item_editstatus"
		   name="{{ base_input_name}}[item][editStatus]"
		   class="form-control form-control-sm wiag-input"
		   value="{{ person.item.editstatus }}"
		   style="max-width: 12em"
		   spellcheck="false"
		   aria-label="Status"
		   data-autocomplete-target="input">
	    <ul class="list-group autocomplete-target"
		       data-autocomplete-target="results"
		       style="max-width: 20rem;"></ul>
	</span>
	{# insert display status to the form (hidden) #}
	<span><input type="checkbox"
		     hidden="hidden"
		     id="{{ base_id }}_item_formIsExpanded"
		     name="{{ base_input_name }}[item][formIsExpanded]"
		     class="form-check-input"
		     {% if person.item.formIsExpanded %}checked="checked"{% endif %}
		     data-save-collapse-target="carrier"></span>
	<span class="input-group-text ms-2">Identisch mit</span>
	<input type="text" id="{{ base_id }}_item_commentduplicate"
	       name="{{ base_input_name}}[item][commentDuplicate]"
	       class="form-control form-control-sm wiag-input"
	       style="max-width: 9em"
	       value="{{ person.item.commentduplicate }}"
	       aria-label="Kommentar Dublette">
	<div class="dropdown ms-auto">
	    <button class="btn btn-sm btn-secondary dropdown-toggle"
			   type="button"
			   data-bs-toggle="dropdown"
			   aria-expanded="false">Aktion</button>
	    <ul class="dropdown-menu">
		<li><button class="dropdown-item"
			    type="button"
			    data-action="insert#insert"
			    data-id-sans-idx="{{ base_id~'_role_' }}"
			    data-obj-type="role"
			    data-url="{{ path('edit_bishop_new_role') }}">Neues Amt</button></li>
		<li><button class="dropdown-item"
			    type="button"
			    data-action="insert#insert"
			    data-obj-type="reference"
			    data-id-sans-idx="{{ base_id~'_ref_' }}"
			    data-url="{{ path('edit_bishop_new_reference') }}">Neue Referenz</button></li>
	    </ul>
	</div>
    </div>
</div>
