{# parameter: role, base_id_role, base_input_name_role #}
<div class="my-1"
     data-controller="toggle-arrow input-state"
     data-toggle-arrow-img-open-value="down"
     data-toggle-arrow-img-closed-value="right"
     data-action="shown.bs.collapse->toggle-arrow#shown hidden.bs.collapse->toggle-arrow#hidden">
    <div class="input-group input-group-sm">
	<span class="input-group-text">Amt, Bistum, Kloster/Stift</span>
	{# id (hidden) #}
	<input type="text"
	       id="{{ base_id_role }}_id"
	       name="{{ base_input_name_role }}[id]"
	       class="form-control form-control-sm"
	       value="{{ role.id }}"
	       hidden="hidden>">
	{# role name #}
	<span class="w-25"
    	      {{ stimulus_controller('autocomplete', {
		  url: path('person_suggest', {itemTypeId: '0', field: 'role'}),
	      }) }}>
	    <input type="text" id="{{ base_id_role }}_role"
		   name="{{ base_input_name_role }}[role]"
		   class="form-control form-control-sm rounded-0 wiag-input"
		   value="{{ role.roleDisplayName }}"
		   spellcheck="false"
		   aria-label="Amt"
		   data-autocomplete-target="input">
	    <ul class="list-group autocomplete-target"
		data-autocomplete-target="results"
		style="max-width: 18rem;"></ul>
	</span>
	{# diocese #}
	<span class="w-10"
	      {{ stimulus_controller('autocomplete', {
		  url: path('person_suggest', {itemTypeId: '0', field: 'diocese'}),
	      }) }}>
	    <input type="text" id="{{ base_id_role }}_diocese"
		   name="{{ base_input_name_role }}[diocese]"
		   class="form-control form-control-sm rounded-0 wiag-input"
		   value="{{ role.dioceseDisplayName }}"
		   spellcheck="false"
		   aria-label="Bistum"
		   data-autocomplete-target="input">
	    <ul class="list-group autocomplete-target"
		data-autocomplete-target="results"
		style="max-width: 12rem;"></ul>
	</span>
	{# monastery/domstift #}
	<span class="w-15"
	      {{ stimulus_controller('autocomplete', {
		  url: path('person_suggest', {itemTypeId: '0', field: 'institution'}),
	      }) }} >
	    <input type="text" id="{{ base_id_role }}_institution"
		   name="{{ base_input_name_role }}[institution]"
		   class="form-control form-control-sm rounded-0 wiag-input"
		   value="{{ role.institutionDisplayName }}"
		   spellcheck="false"
		   aria-label="Kloster"
		   data-autocomplete-target="input">
	    <ul class="list-group autocomplete-target"
		data-autocomplete-target="results"
		style="max-width: 20rem;"></ul>
	</span>
	<span class="input-group-text">von, bis</span>
	<input type="text" id="{{ base_id_role }}_dateBegin"
	       name="{{ base_input_name_role }}[dateBegin]"
	       class="form-control form-control-sm wiag-input"
	       value="{{ role.dateBegin }}"
	       style="max-width: 10em"
	       spellcheck="false"
	       aria-label="Beginn">
	<input type="text" id="{{ base_id_role }}_dateEnd"
	       name="{{ base_input_name_role }}[dateEnd]"
	       class="form-control form-control-sm wiag-input"
	       value="{{ role.dateEnd }}"
	       style="max-width: 10em"
	       spellcheck="false"
	       aria-label="Ende">
	{% if role.comment or role.note or role.roleproperty|length > 0 %}
	    {% set expanded = true %}
	{% else %}
	    {% set expanded = false %}
	{% endif %}
	<button class="btn btn-sm ms-1 pt-0 align-middle"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target={{ "#comment#{role.id}" }}
		aria-expanded="{{ expanded }}"
		aria-controls={{ "comment#{role.id}" }}
		data-toggle-arrow-target="button">{% if expanded %}<img src="{{ asset('images/symbols/caret-down-square.svg') }}"/>{% else %}<img src="{{ asset('images/symbols/caret-right-square.svg') }}"/>{% endif %}</button>
	{# delete #}
	<div class="form_check ms-1 mt-1 align-middle">
	    <input class="form-check-input"
		   type="checkbox"
		   value=""
		   id="{{ base_id_role }}_delete"
		   name="{{ base_input_name_role }}[delete]"
		   data-input-state-target="checkbox"
		   data-action="input-state#set">
	    <label class="form-check-label ms-1" for="{{ base_id_role }}_delete">löschen</label>
	</div>
    </div>
    <div class="ms-4 mt-1 collapse {% if expanded %}show{% endif %}" id ="{{ "comment#{role.id}" }}">
	<div class="input-group input-group-sm mt-1">
	    <span class="input-group-text">Bemerkung</span>
	    <input type="text"
		   id="{{ base_id_role }}_note"
		   name="{{ base_input_name_role }}[note]"
		   class="form-control form-control-sm wiag-input"
		   value="{{ role.note }}">
	</div>
	{{ include('edit_bishop/_input_role_property_list.html.twig') }}
    </div>
</div>
