<div class="row"> {# empty div to have the same structure for all sections #}
    <div class="col-12">
	<div class="input-group input-group-sm mb-1 mt-1">
	    {% if false and newEntry is defined and newEntry > 0 %}
		<span class="input-group-text">Id</span>
		<input type="text" id="{{ base_id }}_item_id_in_source"
		       name="{{ base_input_name}}[item][idInSource]"
		       class="form-control form-control-sm wiag-input me-2"
		       style="max-width: 5em"
		       value="{{ person.item.idinsource }}"
		       aria-label="Kommentar Dublette">
	    {% endif %}
	    <span class="input-group-text">Status</span>
	    <div {{ stimulus_controller('autocomplete', {
		 url: path('person_suggest', {itemTypeId: itemTypeId, field: 'editStatus'}),
		 }) }} >
		<input type="text" id="{{ base_id }}_item_editstatus"
		       name="{{ base_input_name}}[item][editStatus]"
		       class="form-control form-control-sm wiag-input"
		       value="{{ person.item.editstatus }}"
		       style="max-width: 12em"
		       spellcheck="false"
		       aria-label="Status"
		       data-autocomplete-target="input">
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 20rem;"></ul>
	    </div>
	    {# insert display status (hidden) #}
	    <span><input type="checkbox"
			 hidden="hidden"
			 id="{{ base_id }}_item_formIsExpanded"
			 name="{{ base_input_name }}[item][formIsExpanded]"
			 class="form-check-input"
			 {% if person.item.formIsExpanded %}checked="checked"{% endif %}
			 data-save-collapse-target="carrier"></span>
	    <span class="input-group-text ms-2">identisch mit</span>
	    <input type="text" id="{{ base_id }}_item_commentduplicate"
		   name="{{ base_input_name}}[item][commentDuplicate]"
		   class="form-control form-control-sm wiag-input"
		   style="max-width: 9em"
		   value="{{ person.item.commentduplicate }}"
		   aria-label="Kommentar Dublette">
	    {# get parent IDs (hidden) #}
	    {% for parent_item in person.item.mergeparent %}
		<input type="text" id="{{ base_id }}_item_mergeParentId_{{ loop.index0 }}"
		       name="{{ base_input_name}}[item][mergeParentId][{{ loop.index0 }}]"
		       class="form-control form-control-sm d-none"
		       style="max-width: 9em"
		       value="{{ parent_item.id }}"
		       aria-label="Zusammengesetzt aus">
	    {% endfor %}
	    {% if not newEntry %}
		{# dropdown "Aktion" #}
		<div class="dropdown ms-auto">
		    <button class="btn btn-sm btn-secondary dropdown-toggle"
			    type="button"
			    data-bs-toggle="dropdown"
			    aria-expanded="false">Aktion</button>
		    <ul class="dropdown-menu">
			<li><button class="dropdown-item"
				    type="button"
				    value="{{ base_id }}"
				    data-person-id="{{ person.id }}"
				    data-list-index="{{ index }}"
				    data-action="modal-form#openModal">Zusammenführen ...</button></li>
			{% if person.item.commentduplicate %}
			    <li><a class="dropdown-item" href="{{ path('edit_bishop_merge_item', { 'first': person.item.id, 'second_id': person.item.commentduplicate }) }}">Zusammenführen mit {{ person.item.commentduplicate }}</a>
			    </li>
			{% endif %}
			{% if person.item.mergeparent and not mergeStep %}
			    <li data-controller="submit-confirm"
				data-submit-confirm-title-value="Eintrag aufteilen?"
				data-submit-confirm-button-id-value="split_{{ person.id }}"
				data-submit-confirm-text-value="Die ursprünglichen Einträge werden wieder hergesellt."
				data-submit-confirm-confirm-button-text-value="Aufteilen"
				data-submit-confirm-cancel-button-text-value="Abbrechen">
				{# use this hidden element to trigger the confirmed action #}
				<a id="split_{{ person.id }}"
				   class="d-none"
				   href="{{ path('edit_bishop_split_item', {'id': person.id}) }}"></a>
				<button type="button"
					class="dropdown-item"
					data-action="submit-confirm#confirm">Eintrag aufteilen</button>
			    </li>
			{% endif %}
			<li data-controller="submit-confirm"
			    data-submit-confirm-title-value="Eintrag löschen?"
			    data-submit-confirm-button-id-value="delete_{{ person.id }}"
			    data-submit-confirm-text-value="Der Eintrag wird gelöscht und ist nicht mehr zugänglich."
			    data-submit-confirm-confirm-button-text-value="Löschen"
			    data-submit-confirm-cancel-button-text-value="Abbrechen">
			    {# use this hidden element to trigger the confirmed action #}
			    <button type="submit"
				    id="delete_{{ person.id }}"
				    form="edit_bishop_form"
				    formaction="{{ path('edit_bishop_delete') }}"
				    class="d-none"
				    value="{{ person.id }}"
				    name="delete-id"></button>
			    <button type="button"
				    class="dropdown-item"
				    data-action="submit-confirm#confirm">Eintrag löschen</button>
			</li>
		    </ul>
		</div>
	    {% endif %}
	</div>
    </div>

</div>
{# validation messages #}
{% for error_obj in person.inputError|filter(v => v.section == 'status') %}
    <div class="row">
	<div class="col-12 text-danger">{{ error_obj.msg }}</div>
    </div>
{% endfor %}
