{# params: inst_type_id, controller select-institution #}
{% set inst_ac_url = {
    1: path('person_suggest', {itemTypeId: 1, field: 'diocese'}),
    2: path('person_suggest', {itemTypeId: 2, field: 'institution'}),
    3: path('person_suggest', {itemTypeId: 3, field: 'institution'}),
} %}

<select class="form-select form-select-sm"
	style="min-width: 7rem"
	id="{{ base_id_role }}_instTypeId"
	name="{{ base_input_name_role }}[instTypeId]"
	data-action="select-institution#select">
    <option value="1"
	    data-url="{{ inst_ac_url.1 }}"
	    {% if inst_type_id == 1 %}selected="selected"{% endif %}>Bistum</option>
    <option value="3"
	    data-url="{{ inst_ac_url.3 }}"
	    {% if inst_type_id == 3 %}selected="selected"{% endif %}>Domstift</option>
    <option value="2"
	    data-url="{{ inst_ac_url.2 }}"
	    {% if inst_type_id == 2 %}selected="selected"{% endif %}>Kloster</option>
</select>
{# diocese/monastery #}
{% set inst_name = {
    1: role.dioceseDisplayName,
    2: role.institutionDisplayName,
    3: role.institutionDisplayName,
} %}
<div class="w-40"
     data-controller="autocomplete"
     data-autocomplete-url-value="{{ attribute(inst_ac_url, inst_type_id) }}"
     data-select-institution-target="carrier">
    <input type="text"
	   id="{{ base_id_role }}_institution"
	   name="{{ base_input_name_role }}[institution]"
	   class="form-control form-control-sm rounded-0 wiag-input"
	   value="{{ attribute(inst_name, inst_type_id) }}"
	   spellcheck="false"
	   aria-label="Institution"
	   data-autocomplete-target="input"
	   data-controller="move-cursor"
	   data-action="blur->move-cursor#moveStart">
    <ul class="list-group autocomplete-target"
	data-autocomplete-target="results"
	style="max-width: 30rem;"></ul>
</div>
