<div class="ms-2 my-1"> {# empty div to have the same structure for all sections #}
    <div class="input-group input-group-sm">
	<div class="form-check">
	    <input class="form-check-input"
		   type="checkbox"
		   value=""
		   id="{{ base_id }}_item_isOnline"
		   name="{{ base_input_name }}[item][isOnline]"
		   {% if person.item.isonline %}checked="checked"{% endif %}>
	    <label class="form-check-label" for="{{ base_id }}_item_isOnline">online</label>
	</div>
	<div class="form_check ms-2">
	    <input class="form-check-input"
		   type="checkbox"
		   value=""
		   id="{{ base_id }}_item_isDeleted"
		   name="{{ base_input_name }}[item][isDeleted]"
		   {% if person.item.isdeleted %}checked="checked"{% endif %}>
	    <label class="form-check-label ms-1" for="{{ base_id }}_item_isDeleted">gelöscht</label>
	</div>
	<span class="input-group-text ms-2">Status</span>
	<span {{ stimulus_controller('autocomplete', {
		  url: path('person_suggest', {itemTypeId: itemTypeId, field: 'editStatus'}),
	      }) }} >
	    <input type="text" id="{{ base_id }}_item_editstatus"
		   name="{{ base_input_name}}[item][editStatus]"
		   class="form-control form-control-sm"
		   value="{{ person.item.editstatus }}"
		   style="max-width: 10em"
		   spellcheck="false"
		   aria-label="Status"
		   data-autocomplete-target="input">
	    <ul class="list-group autocomplete-target"
		data-autocomplete-target="results"
		style="max-width: 20rem;"></ul>
	</span>
	<span class="input-group-text ms-2">Kommentar Dublette</span>
	<input type="text" id="{{ base_id }}_item_commentduplicate"
	       name="{{ base_input_name}}[item][commentDuplicate]"
	       class="form-control form-control-sm"
	       style="max-width: 16em"
	       value="{{ person.item.commentduplicate }}"
	       aria-label="Kommentar Dublette">
	<div class="dropdown ms-auto">
	    <button class="btn btn-sm btn-secondary dropdown-toggle"
			   type="button"
			   data-bs-toggle="dropdown"
			   aria-expanded="false">Aktion</button>
	    <ul class="dropdown-menu">
		<li><button class="dropdown-item"
				   type="button"
				   data-new-input-target="button"
				   data-action="insert#insert"
				   data-obj-type="role"
				   data-url="{{ path('edit_bishop_new_role') }}">Neues Amt</button></li>
		<li><button class="dropdown-item"
				   type="button"
				   data-new-input-target="button"
				   data-action="insert#insert"
				   data-obj-type="reference"
				   data-url="{{ path('edit_bishop_new_reference') }}">Neue Referenz</button></li>
	    </ul>
	</div>
    </div>
</div>
