<div class="row"> {# empty div to have the same structure for all sections #}
    <div class="col-12">
	<div class="input-group input-group-sm mb-1 mt-1">
	    {% if newEntry is defined and newEntry > 0 %}
		<span class="input-group-text">Id</span>
		<input type="text" id="{{ base_id }}_item_id_in_source"
		       name="{{ base_input_name}}[item][idInSource]"
		       class="form-control form-control-sm wiag-input me-2"
		       style="max-width: 5em"
		       value="{{ person.item.idinsource }}"
		       aria-label="Kommentar Dublette">

	    {% endif %}
	    <span class="input-group-text">Status</span>
	    <div {{ stimulus_controller('autocomplete', {
		 url: path('person_suggest', {itemTypeId: itemTypeId, field: 'editStatus'}),
		 }) }} >
		<input type="text" id="{{ base_id }}_item_editstatus"
		       name="{{ base_input_name}}[item][editStatus]"
		       class="form-control form-control-sm wiag-input"
		       value="{{ person.item.editstatus }}"
		       style="max-width: 12em"
		       spellcheck="false"
		       aria-label="Status"
		       data-autocomplete-target="input">
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 20rem;"></ul>
	    </div>
	    {# insert display status (hidden) #}
	    <span><input type="checkbox"
			 hidden="hidden"
			 id="{{ base_id }}_item_formIsExpanded"
			 name="{{ base_input_name }}[item][formIsExpanded]"
			 class="form-check-input"
			 {% if person.item.formIsExpanded %}checked="checked"{% endif %}
			 data-save-collapse-target="carrier"></span>
	    <span class="input-group-text ms-2">identisch mit</span>
	    <input type="text" id="{{ base_id }}_item_commentduplicate"
		   name="{{ base_input_name}}[item][commentDuplicate]"
		   class="form-control form-control-sm wiag-input"
		   style="max-width: 9em"
		   value="{{ person.item.commentduplicate }}"
		   aria-label="Kommentar Dublette">
	    {% if person.item.mergeparenttxt %}
		<span class="input-group-text ms-2">Zusammengesetzt aus: {{ person.item.mergeparenttxt }}</span>
	    {% endif %}
	    {% for parent_item in person.item.mergeparent %}

		<input type="text" id="{{ base_id }}_item_mergeParentId_{{ loop.index0 }}"
		       name="{{ base_input_name}}[item][mergeParentId][{{ loop.index0 }}]"
		       class="form-control form-control-sm d-none"
		       style="max-width: 9em"
		       value="{{ parent_item.id }}"
		       aria-label="Zusammengesetzt aus">
	    {% endfor %}
	    <div class="dropdown ms-auto">
		<button class="btn btn-sm btn-secondary dropdown-toggle"
			    type="button"
			    data-bs-toggle="dropdown"
			    aria-expanded="false">Aktion</button>
		    <ul class="dropdown-menu">
			<li><button class="dropdown-item"
				    type="button"
				    value="{{ base_id }}"
				    data-person-id="{{ person.item.id }}"
				    data-list-index="{{ index }}"
				    data-action="modal-form#openModal">Zusammenführen ...</button></li>
			{% if person.item.commentduplicate %}
			    <li><a class="dropdown-item" href="{{ path('edit_bishop_merge_item', { 'first': person.item.id, 'index': index, 'second_id': person.item.commentduplicate }) }}">Zusammenführen mit {{ person.item.commentduplicate }}</a>
			    </li>
			{% endif %}
		    </ul>
	    </div>
	</div>
    </div>

</div>
{# validation messages #}
{% for error_obj in person.inputError|filter(v => v.section == 'status') %}
    <div class="row">
	<div class="col-12 text-danger">{{ error_obj.msg }}</div>
    </div>
{% endfor %}
