<div data-controller="insert"
     data-insert-base-id-value="{{ base_id }}"
     data-insert-base-input-name-value="{{ base_input_name }}"
     data-insert-placeholder-value="~~~"
     data-insert-move-trigger-value=1>
    {% for idext in person.item.idExternal %}
	<div class="row"
	     data-controller="input-state">
	    {{ include('edit_bishop/_input_id_external.html.twig', {
		base_id: base_id,
		base_input_name: base_input_name,
		current_idx: loop.index0,
		is_last: loop.last,
	    }) }}
	</div>
    {% else %}
	<div class="row"
	     data-controller="input-state">
	    {{ include('edit_bishop/_input_id_external.html.twig', {
		base_id: base_id,
		base_input_name: base_input_name,
		current_idx: loop.index0,
		is_last: true,
	    }) }}
	</div>
    {% endfor %}
    {# the server ignores the template, if it contains no data #}
    <div class="d-none" data-insert-target="template">
	<div class="row"
	     data-controller="input-state">
	    {{ include('edit_bishop/_input_id_external.html.twig', {
		base_id: base_id,
		base_input_name: base_input_name,
		current_idx: '~~~',
		is_last: false,
	    }) }}
	</div>
    </div>
</div>
