{% import "edit_bishop/_util.html.twig" as util %}
{# status and name #}
{{ include('edit_bishop/_input_status.html.twig') }}
{{ include('edit_bishop/_input_name.html.twig') }}
<hr class="my-2 border border-secondary border-2">
{# roles #}
{# - using surrounding div with class="overflow-auto" is not compatible with auto-complete #}
{{ include('edit_bishop/_input_role_list.html.twig') }}
<hr class="my-2 border border-secondary border-2">
{# references #}
{{ include('edit_bishop/_input_reference_list.html.twig') }}
<hr class="mt-1 mb-2 border border-secondary border-2">
{# norm data and external references #}
{{ include('edit_bishop/_input_id_external_list.html.twig') }}
{# comment person #}
<div class="row">
    <div class="col-12">
	<div class="input-group input-group-sm">
	    <span class="input-group-text wiag-bg-internal" style="min-width: 12rem">Kommentar (red.)</span>
	    <textarea id="{{ base_id }}_comment"
		      style="height: 3rem"
		      name="{{ base_input_name }}[comment]"
		      class="form-control form-control-sm wiag-input">{{ person.comment }}</textarea>
	</div>
    </div>
</div>
{% if person.item.idPublic %}
    {% set user=userWiagRepository.find(person.item.changedBy) %}
    <div class="row">
	<div class="col-12">
	    <span class="ms-1">{{ person.item.idPublic }}</span>
	    <span class="wiag-log text-nowrap float-end me-1">geändert: {{ person.item.dateChanged|format_datetime() }}{% if user %}, {{ user.email }}{% endif %}</span>
	    <input type="text"
		   class="d-none"
		   id="{{ base_id }}_item_idPublic"
		   name="{{ base_input_name }}[item][idPublic]"
		   value="{{ person.item.idPublic }}">
	    <input type="text"
		   class="d-none"
		   id="{{ base_id }}_item_dateChanged"
		   name="{{ base_input_name }}[item][dateChanged]"
		   value="{{ person.item.dateChanged|format_datetime() }}">
	    <input type="text"
		   class="d-none"
		   id="{{ base_id }}_item_changedBy"
		   name="{{ base_input_name }}[item][changedBy]"
		   value="{{ person.item.changedBy }}">
	</div>
	{# store data into the form #}
	{{ util.hiddenInput(base_id, base_input_name, ['item', 'idPublic'], person.item.idPublic) }}
	{{ util.hiddenInput(base_id, base_input_name, ['item', 'changedBy'], person.item.changedBy) }}
	{{ util.hiddenInput(base_id, base_input_name, ['item', 'dateChanged'], person.item.dateChanged|format_datetime()) }}
    </div>
{% endif %}
