<div class="container-fluid"
     data-controller="hide-on-input"
     data-action="modal-form#submitQuery">
    {{ form_start(form) }}
	<div class="row col-12">
	    <span class="topic-title">{{ bishop_title }} <a href="{{ path('reference_list', { 'itemTypeId': 1}) }}"><span class="text-nowrap">(nach Erwin Gatz)</span></a></span>
	</div>
	{{ include("edit_bishop/_form_elements.html.twig", {
	    indent_class: "",
	    input_width_name: 27,
	    input_width_diocese: 11,
	    input_width_office: 16,
	    input_width_id: 14,
	    input_width_duplicate: 6,
	    input_width_comment: 18,
	    input_width_date: 16,
	}) }}
	<div class="row mt-2">
	    {% if debug_flag is defined %}
		<div class="col-12">
		    <button type="submit"
			    class="btn btn-secondary btn-light btn-sm">Suche</button>
		</div>
	    {% else %}
		<div class="col-12">
		    <button type="button"
			    class="btn btn-secondary btn-light btn-sm"
			    data-action="modal-form#submitQuery">Suche</button>
		</div>
	    {% endif %}
	</div>
	{# void elements for warnings set by JS #}
	<div class="row mt-2"><div class="col-12 wiag-form-warning"></div></div>
	{% if personList is defined %}
	    <div data-hide-on-input-target="result">
		<div class="row mt-2">
 		    <div class="col-12">
			{% if count == 0 %}
			    Treffer: keine
			{% elseif count == 1 %}
			    Treffer: 1
			{% else %}
			    Treffer: {{ offset + 1 }} - {{ min(offset + pageSize, count)}} von {{ count }}
			    {% if count > pageSize %}
				{{ include('person/_page_browse.html.twig') }}
			    {% endif %}
			{% endif %}
		    </div>
		</div>
	    </div>
	{% endif %}
    {{ form_end(form) }}
    {# use the same div because of the scope of hide-on-input #}
    {% if personList is defined and count > 0 %}
	<div class="row">
	    <div class="col-12">
		{{ include('edit_bishop/_merge_list.html.twig') }}
	    </div>
	</div>
    {% endif %}
</div>
