{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div data-controller="modal-form"
	 data-modal-form-query-url-value="{{ path('edit_bishop_merge_query') }}"
	 data-modal-form-merge-item-url-value="{{ path('edit_bishop_merge_item') }}">
	{{ include('edit_bishop/_query_body.html.twig') }}
	{{ include("modal/_modal.html.twig", {
	    modal_title: "Bischöfe zusammenführen",
	    modal_success: "Übernehmen",
	}) }}
    </div>
{% endblock %}
