{# {% macro sectionoffices(offices, urlgsmonasteries) %} #}
<dt class="col-sm-3">Ämter</dt>
<dd class="col-sm-9">
    <ul class="list-unstyled">
	{% for office in offices %}
	    <li>
		<ul class="list-inlined list-unstyled">
		    <li class="list-inline-item"> {{ office.officename }}</li>
		    {% if office.diocese and not office.idmonastery %}
			<li class="list-inline-item">{% if office.dioceseindb %}<a href="{{ path('diocese', {'name': office.diocese}) }}">{{ office.diocese }}</a>{% else %}{{ office.diocese }}{% endif %}</li>
		    {% endif %}
		    {% if office.idmonastery %}
			<li class="list-inline-item">
			    <a href="{{ urlgsmonasteries }}gsn/{{ office.idmonastery }}" target="_blank" rel="noopener">{{ office.monastery.monasteryname }}</a>
			</li>
		    {% endif %}
		    <li class="list-inline-item">
			{% if not office.datestart and not office.dateend %}
			{% elseif office.datestart and not office.dateend %}
			    {{ office.datestart }}
			{% elseif not office.datestart and office.dateend %}
			    bis {{ office.dateend }}
			{% else %}
			    {{ office.datestart }}–{{ office.dateend }}
			{% endif %}
		    </li>
		    {% if office.archdeaconterritory %}
			<li class="list-inline-item comment"> Archidiakonat {{ office.archdeaconterritory }} </li>
		    {% endif %}
		    {% if office.comment %}
			<li class="list-inline-item comment"> ({{ office.comment }}) </li>
		    {% endif %}

		</ul>
	    </li>
	{% endfor %}
    </ul>
</dd>
