
<div class="table-responsive">
    <table class="table">
	<thead class="thead-light">
	    <tr>
		<th scope="col">Name</th>
		<th scope="col">Ämter</th>
	    </tr>
	</thead>
	<tbody>
	    {% for person in personlist %}
		{% set displayname = person.get('displayname') %}
		{% set datebirth = person.get('datebirth') %}
		{% set datedeath = person.get('datedeath') %}
		<tr>
		    <td><button
			    type="submit"
			    form="form"
			    formaction="{{ path('bishop_list_detail')  }}"
			    class="btn btn-link p-0 text-sm-start"
			    name="offset"
			    value="{{ offset + loop.index0 }}">{{ displayname }}</button>
			{% if not datebirth and not datedeath %}
			{% elseif datebirth and not datedeath %}
			    <p class="ms-3">* {{ datebirth }}</p>
			{% elseif not datebirth and datedeath %}
			    <p class="ms-3">&dagger; {{ datedeath }}</p>
			{% else %}
			    <p class="ms-3">* {{ datebirth }} <span class="ms-2">&dagger; {{ datedeath }}</span></p>
			{% endif %}
		    </td>
		    <td>{% for r in person.role|sort((a, b) => a.numdatebegin <=> b.numdatebegin) %}

			<small>{% if r.rolename %}{{ r.rolename }}{% endif %}
			    {% if r.diocese %}({{ r.diocese.name }})
			    {% elseif r.diocesename %}({{ r.diocesename }})
			    {% endif %}
			    {% if r.placename %}({{ r.placename }}) {% endif %}
			    {% if r.datebegin and not r.dateend %}{{ r.datebegin }}
			    {% elseif not r.datebegin and r.dateend %}{{ r.dateend }}
			    {% elseif r.datebegin and r.dateend %}{{ r.datebegin }}-{{ r.dateend }}{% endif %}
			</small><br/>{% endfor %}
		    </td>
		</tr>
	    {% endfor %}
	</tbody>
    </table>
</div> {# table-responsive #}
