{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
	<div class="container-fluid">
	    {{ include("bishop/_form_elements.html.twig") }}
	    <div class="row mt-2 mx-2">
		<div class="col-12">
		    <button type="submit" class="btn btn-secondary btn-light btn-sm">Suche</button>
		</div>
	    </div>
	    {% if data %}
	    <div class="row mt-2 mx-2">
		<div class="col-9">
		    {# table #}
		    {{ include("bishop/_results.html.twig") }}
		</div>
	    </div>
	    {% endif %}
	</div>

    {{ form_end(form) }}

{% endblock %}
