{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
	<div>
	    {{ form_label(form.name) }}
	    {{ form_errors(form.name) }}
	    {{ form_widget(form.name) }}

	    {{ form_label(form.diocese) }}
	    {{ form_errors(form.diocese) }}
	    {{ form_widget(form.diocese) }}

	    <button type="submit">Suche</button>
	</div>
	{% if data %}
	    <div>
		Name: {{ data["name"] }}, Bistum: {{ data["diocese"] }}
	    </div>
	{% endif %}

    {{ form_end(form) }}

{% endblock %}
