{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form, {
	'attr': {
	    'id': 'form',
	    'data-controller': 'facet-state hide-on-input facet-submit',
	    'data-action': 'shown.bs.collapse->facet-state#register hidden.bs.collapse->facet-state#register input->facet-state#clearFacet input->facet-submit#submit'
	}
    }) }}
	<div class="container-fluid">
	    <div class="row ms-2 col-12">
		<span class="topic-title">{{ bishop_title }} <a href="{{ path('reference_list', { 'itemTypeId': 1}) }}"><span class="text-nowrap">(nach Erwin Gatz)</span></a></span>
	    </div>
	    {{ include("bishop/_form_elements.html.twig") }}
	    <div class="row mt-2 mx-2">
		<div class="col-12">
		    <button type="submit" class="btn btn-secondary btn-light btn-sm">Suche</button>
		    {# button data export #}
		    {% if count > 0 %}
			{% for fmtft in [
			    {format: 'Csv', text: 'CSV'},
			    {format: 'Rdf', text: 'RDF-XML'},
			    {format: 'Json', text: 'JSON'},
			    {format: 'Jsonld', text: 'JSON-LD'},
			] %}
			    <button type="submit" form="form" formaction={{ path('bishop_query_data') }} name="format" value="{{ fmtft.format }}" class="btn btn-secondary btn-light btn-sm ms-2">{{ fmtft.text }}</button>
			{% endfor %}
		    {% endif %}
		    <a href="{{ path('bishop_query') }}" type="button" class="btn btn-secondary btn-light btn-sm ms-3">Neue Suche</a>
		</div>
	    </div>
	    <div data-hide-on-input-target="result">
		<div class="row mt-2 mx-2">
 		    <div class="col-12">
			{% if count == 0 %}
			    Treffer: keine
			{% elseif count == 1 %}
			    Treffer: 1
			{% else %}
			    Treffer: {{ offset + 1 }} - {{ min(offset + pageSize, count)}} von {{ count }}
			    {% if count > pageSize %}
				<div class="d-inline-flex p-2">
				    {{ include('person/_button_page_backward.html.twig', {
					value: offset - pageSize,
					disabled: offset < pageSize,
					text: 'zurück'}) }}
				    <input type="text" name="pageNumber" value={{ offset // pageSize + 1 }} class="mx-1" style="width:3em" autocomplete="off" data-hide-on-input-target="pageNumber">
				    {{ include('person/_button_page_forward.html.twig', {
					value: offset + pageSize,
					disabled: offset + pageSize >= count,
					text: 'vor'}) }}
				</div>
			    {% endif %}
			{% endif %}
		    </div>
		</div>
		{# show facets if they cause an empty result list #}
		{% if count > 0 or form.facetDiocese is defined or form.facetOffice is defined %}
		    <div class="row my-2 mx-2">
			<div class="col-9">
			    {# table #}
			    {{ include("bishop/_results.html.twig") }}
			</div>
			{# facets #}
			<div class="col-3" data-facet-state-target="facets">
			    {% if form.facetDiocese is defined %}
				{{ include('bishop/_facet.html.twig', {
				    facet: form.facetDiocese,
				    facetTitle: 'Filter Bistum',
				    facetState: form.stateFctDioc.vars.value,
				    facetShort: 'Dioc'
				}) }}
				{{ form_row(form.stateFctDioc) }}
			    {% endif %}
				{% if form.facetOffice is defined %}
				    {{ include('bishop/_facet.html.twig', {
					facet: form.facetOffice,
					facetTitle: 'Filter Amt',
					facetState: form.stateFctOfc.vars.value,
					facetShort: 'Ofc'
				    }) }}
				    {{ form_row(form.stateFctOfc) }}
				{% endif %}
			</div>
		    </div>
		{% endif %}
	    </div>
	</div>
    {{ form_end(form) }}

{% endblock %}
