{# offices, parameter: roles #}
<dt class="col-sm-3">Ämter</dt>
<dd class="col-sm-9 mb-1">
    <ul class="list-unstyled mb-1">
	{% for o in roles %}
	    <li>
		<ul class="list-inlined list-unstyled">
		    <li class="list-inline-item"> {{ o.rolename }}</li>
		    {% if o.institutionid %}
			{% set institutionname = o.institution.name ?: o.institutionname %}
			<li class="list-inline-item">
			    <a href="{{ url_gs_monastery }}{{ o.institution.idgsn }}" target="_blank" rel="noopener">{{ institutionname }}</a>
			</li>
		    {% endif %}
		    <li class="list-inline-item">
			{% if not o.datebegin and not o.dateend %}
			{% elseif o.datebegin and not o.dateend %}
			    {{ o.datebegin }}
			{% elseif not o.datebegin and o.dateend %}
			    bis {{ o.dateend }}
			{% else %}
			    {{ o.datebegin }}–{{ o.dateend }}
			{% endif %}
		    </li>
		    {# table person_role_property #}
		    {% for property in o.roleproperty %}
			<li class="list-inline-item comment"> {{ property.name }} {{ property.value }} </li>
		    {% endfor %}
		    {% if o.note %}
			<li class="list-inline-item comment"> ({{ o.note }}) </li>
		    {% endif %}

		</ul>
	    </li>
	{% endfor %}
    </ul>
</dd>
