{# birthplace by likelyhood, parameter: birthplace #}
{% set mlt = birthplace|length > 1 %}
{% if mlt %}
    <dt class="col-sm-3">Mögliche Geburtsorte</dt>
{% else %}
    <dt class="col-sm-3">Geburtsort</dt>
{% endif %}
<dd class="col-sm-9 mb-1">
    <ul class="list-unstyled mb-1">
	<li>
	    <ul class="list-inlined list-unstyled">
		{% for bp in birthplace %}
		    {% if bp.urlwhg %}
			<a href="{{ bp.urlwhg }}" target="_blank" rel="noopener">{{ bp.placeName }}</a>{% if mlt %} ({{ loop.index }}){% endif %}{% if not loop.last %}, {% endif %}
		    {% else %}
			{{ bp.placeName }}{% if mlt %} ({{ loop.index }}){% endif %}{% if not loop.last %}, {% endif %}
		    {% endif %}
		{% endfor %}
	    </ul>
	</li>
    </ul>
</dd>
