{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
	<div class="container-fluid">
	    <div class="row ms-2 col-12">
		<span class="topic-title">{{ bishop_title }} <a href="{{ path('reference_list', { 'itemTypeId': 4}) }}"><span class="text-nowrap">(nach Erwin Gatz)</span></a></span>
	    </div>
	    {{ include("bishop/_form_elements.html.twig") }}
	    <div class="row mt-2 mx-2">
		<div class="col-12">
		    <button type="submit" class="btn btn-secondary btn-light btn-sm">Suche</button>
		</div>
	    </div>
	</div>

    {{ form_end(form) }}

{% endblock %}
