<div class="row mx-2 mt-3">
    <div class="col-12">
	<div class="d-flex flex-wrap"
	     data-action="input->hide-on-input#hideResults">
	    {# name #}
	    <div class="me-2 mt-1"
		 {{ stimulus_controller('autocomplete', {
		     url: path('person_suggest_online', { 'corpusId': corpusId, 'field': 'name' }),
		 }) }}>
		{{ form_label(form.name) }}
		{{ form_errors(form.name) }}
		{{ form_widget(form.name, {
		    attr: {
			'data-autocomplete-target': "input",
			'size': 31,
			'class': 'wiag-input',
		    },
		}) }}
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 20rem;"></ul>
	    </div>
	    {% if form.domstift is defined %}
		{# domstift #}
		<div class="me-2 mt-1"
		     {{ stimulus_controller('autocomplete', {
			 url: path('person_suggest', { 'field': 'domstift' }),
		     }) }}>
		    {{ form_label(form.domstift) }}
		    {{ form_errors(form.domstift) }}
		    {{ form_widget(form.domstift, {
			attr: {
			    'data-autocomplete-target': "input",
			    'size': 15,
			    'class': 'wiag-input',
			},
		    }) }}
		    <ul class="list-group autocomplete-target"
			       data-autocomplete-target="results"
			       style="max-width: 14em;"></ul>
		</div>
	    {% endif %}
	    {% if form.diocese is defined %}
		{# diocese #}
		<div class="me-2 mt-1"
		     {{ stimulus_controller('autocomplete', {
			 url: path('person_suggest', { 'field': 'diocese' }),
		     }) }}>
		    {{ form_label(form.diocese) }}
		    {{ form_errors(form.diocese) }}
		    {{ form_widget(form.diocese, {
			attr: {
			    'data-autocomplete-target': "input",
			    'size': 15,
			    'class': 'wiag-input',
			},
		    }) }}
		    <ul class="list-group autocomplete-target"
			data-autocomplete-target="results"
			style="max-width: 14em;"></ul>
		</div>
	    {% endif %}
	    {# office #}
	    <div class="me-2 mt-1"
		 {{ stimulus_controller('autocomplete', {
		     url: path('person_suggest_online', { 'corpusId': corpusId, 'field': 'office' }),
		 }) }}>
		{{ form_label(form.office) }}
		{{ form_errors(form.office) }}
		{{ form_widget(form.office, {
		    attr: {
			'data-autocomplete-target': "input",
			'size': 18,
			'class': 'wiag-input',
		    },
		}) }}
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 14em;"></ul>
	    </div>
	    {# place #}
	    {% if form.place is defined %}
		<div class="me-2 mt-1"
		     {{ stimulus_controller('autocomplete', {
			 url: path('person_suggest_online', { 'corpusId': corpusId, 'field': 'place' }),
		     }) }}>
		    {{ form_label(form.place) }}
		    {{ form_errors(form.place) }}
		    {{ form_widget(form.place, {
			attr: {
			    'data-autocomplete-target': "input",
			    'size': 12,
			    'class': 'wiag-input',
			},
		    }) }}
		    <ul class="list-group autocomplete-target"
			data-autocomplete-target="results"
			style="max-width: 12em;"></ul>
		</div>
	    {% endif %}
	    {{  form_row(form.year, {
		row_attr: {class: 'me-2 mt-1'},
		attr: {
		    'class': 'wiag-input',
		}
	    }) }}
	    {{  form_row(form.someid, {
		row_attr: {class: 'me-2 mt-1'},
		attr: {
		    'class': 'wiag-input',
		    'size': 26,
		}
	    }) }}
	    <div class="d-flex">
		<div class="me-2 mt-1">
		    {{ form_label(form.sortBy) }}
		    {{ form_errors(form.sortBy) }}
		    {{ form_widget(form.sortBy, {
			'attr': {
			    'class': 'wiag-input',
			    'style': 'min-width: 7rem',
			    'data-action': 'trigger#click',
			}
		    }) }}
		</div>
		<div class="me-2 mt-1"
		     data-controller="sync"
		     data-sync-toggle-first-value="ASC"
		     data-sync-toggle-second-value="DESC">
		    {% set sort_order=form.sortOrder.vars.value %}
		    <button class="btn form-control"
			    style="margin-top: 2rem !important;"
			    data-action="sync#toggle trigger#click"
			    id="{{ form.vars.id }}_sortOrderButton"
			    type="button">{% if sort_order == 'ASC' %}<img src="{{ asset('images/symbols/chevron-down-lg.svg') }}" alt="Pfeilsymbol">{% else %}<img src="{{ asset('images/symbols/chevron-up-lg.svg') }}" alt="Pfeilsymbol">{% endif %}</button>
		    {{ form_widget(form.sortOrder, {
			'attr': {
			    'data-sync-target': 'toggle',
			}
		    }) }}
		</div>
	    </div>
	    {# hidden #}
	    {{ form_row(form.corpus) }}
	</div>
    </div>
    {% if hide_facets is defined %}
	<div class="d-none" data-facet-state-target="facets">
	    {{ form_rest(form) }}
	</div>
    {% endif %}
</div>

{# {{ form_end(form) }} #}
