<div class="table-responsive">
    <table class="table">
	<thead class="thead-light">
	    <tr>
		<th scope="col">Name</th>
		<th scope="col">Ämter</th>
	    </tr>
	</thead>
	<tbody>
	    {% for person in personList %}
		{% set displayname = person.displaynameWithSeparators %}
		{% set datebirth = person.datebirth %}
		{% set datedeath = person.datedeath %}
		{% macro single_btn(offset, content, form) %}
		    <button
			type="submit"
			      form="{{ form.vars.id }}"
			      formaction="{{ path('canon_list_detail')  }}"
			      class="btn btn-link p-0"
			      name="offset"
			      value="{{ offset }}">{{ content|raw }}</button>
		{% endmacro %}
		<tr>
		    <td><button
			    type="submit"
			    form="{{ form.vars.id }}"
			    formaction="{{ path('person_list_detail', { 'corpusId': corpusId })  }}"
			    class="btn btn-link p-0 text-sm-start"
			    name="offset"
			    value="{{ offset + loop.index0 }}">{{ displayname }}</button>
			{% if not datebirth and not datedeath %}
			{% elseif datebirth and not datedeath %}
			    <p class="ms-3">* {{ datebirth }}</p>
			{% elseif not datebirth and datedeath %}
			    <p class="ms-3">&dagger; {{ datedeath }}</p>
			{% else %}
			    <p class="ms-3">* {{ datebirth }} <span class="ms-2">&dagger; {{ datedeath }}</span></p>
			{% endif %}
		    </td>
		    <td>{% for r in person.getRoleSortedIterator (roleSortCritList) %}
			<div class="fs-6">{% if r.displayRoleName %}{{ r.displayRoleName }}{% endif %}
			    {% if r.placename %}({{ r.placename }})
			    {% elseif r.diocese %}({{ r.diocese.name }})
			    {% elseif r.diocesename %}({{ r.diocesename }})
			    {% endif %}
			    {% if r.datebegin and not r.dateend %}{{ r.datebegin }}
			    {% elseif not r.datebegin and r.dateend %}{{ r.dateend }}
			    {% elseif r.datebegin and r.dateend %}{{ r.datebegin }}-{{ r.dateend }}{% endif %}
			</div>{% endfor %}
			{% if corpusId == 'can' and person.item.itemNameRole|length > 1 %}
			    <button
				type="submit"
				form="{{ form.vars.id }}"
				formaction="{{ path('person_list_detail', { 'corpusId': corpusId }) }}"
				class="btn btn-link p-0"
				name="offset"
				value="{{ offset + loop.index0 }}"><small>&hellip;</small></button>
			{% endif %}
		    </td>
		</tr>
	    {% endfor %}
	</tbody>
    </table>
</div> {# table-responsive #}
