{# canon/onepage_result.html.twig #}
<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Domherren{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
        and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
	{% block body %}
	    <div class="container-fluid mt-3">
		<div class="row mx-2 col-12">
		    {% if title %}
			<h1>{{ title }}</h1>
		    {% else %}
			<h1>Domherren</h1>
		    {% endif %}
		    {% if limitReached %}
			<p>anzeigt: {{ canonNodeList|length }} Einträge (Limit erreicht)</p>
		    {% endif %}
		</div>
		{% for node in canonNodeList %}
		    {% set id_public=node.personName.item.idpublic %}
		    {% set person=node.personName %}
		    {% set permalink %}{{ protocol }}:{{ url('id', {id: id_public}, schemeRelative = true) }}{% endset %}

		    {# name, dates of birth and death #}
		    {% set dobdod = null %}
		    {% if not person.datebirth and not person.datedeath %}
		    {% else %}
			{% if person.datebirth and not person.datedeath %}
			    {% set dobdod = "*&nbsp;" ~ person.datebirth %}
			{% elseif not person.datebirth and person.datedeath %}
			    {% set dobdod = "†&nbsp;" ~ person.datedeath %}
			{% else %}
			    {% set dobdod = "*&nbsp;" ~ person.datebirth ~ " †&nbsp;" ~ person.datedeath %}
			{% endif %}
		    {% endif %}
		    <div class="row mx-2 col-12">
			{# wiagid #}
			<div custom-style="WiagId" class="d-flex"><a class="ms-auto" href={{ permalink }}>{{ id_public }}</a></div>
			{# name #}
			<h3>{{ person.displayname|protectOrdinal|raw }}{% if dobdod %}, {{ dobdod|raw }}{% endif %}</h3>
			{# <div>{{ dump(person.item.concatIdInCorpusWithPrefix, person.item.getIdPublic) }}</div> #}
			{% set academic_title=person.academicTitle %}
			{% if academic_title %}
			    <div custom-style="AkadTitel">{{ academic_title }}</div>
			{% endif %}
			{# comments #}
			{% set note_person = person.notePerson %}
			{% if note_person %}
			    <div custom-style="Bemerkung">{{ note_person|protectOrdinal|raw }}</div>
			{% endif %}
			{% if person.concatProperties %}
			    <div custom-style="Bemerkung">{{ person.concatProperties }}</div>
			{% endif %}
		    </div>
		    {# offices and references #}
		    {% for person_loop in node.personRole %}
			{# offices, parameter: item #}
			<div class="row col-12 mx-2">

			    {% if person_loop.item.hasCorpus('dreg') or person_loop.item.hasCorpus('dreg-can')%}
				<div class="d-flex mt-2"><h4 class="ms-auto subsection"><a href="{{ person_loop.item.geturiextbyauthid(200) }}"> GSN {{ person_loop.item.UrlExternalByAuthorityId(200) }}</a></h4></div>
			    {% endif %}
			    {% if false %}
				{% if person_loop.item.hasCorpus('can')%}
				    <div class="d-flex mt-2"><h4 class="ms-auto subsection"><a href="{{ path('id', {id: person_loop.item.idPublic}) }}">{{ person_loop.item.idPublic}}</a></h4></div>
				{% endif %}
			    {% endif %}
			    {% for o in person_loop.getRoleSortedIteratorByDomstift(domstiftId, roleSortCritList) %}
				<div custom-style="Aemter" class="d-flex">
				    {% set datestr=null %}
				    {% if not o.datebegin and not o.dateend %}
				    {% elseif o.datebegin and not o.dateend %}
					{% set datestr=o.datebegin %}
				    {% elseif not o.datebegin and o.dateend %}
					{% set datestr=o.dateend %}
				    {% else %}
					{% set datestr=o.datebegin~'-'~o.dateend %}
				    {% endif %}

				    {% set orgstr=null %}
				    {% if o.diocesename and not o.institutionid %}
					{% set orgstr=o.diocesename %}
				    {% endif %}
				    {% if o.institutionid %}
					{% set orgstr=o.institution.name ?: o.institutionname %}
				    {% endif %}

				    {% set rolestr=(o.role and o.role.name) ? o.role.name : o.rolename %}
				    {% set rolestr=orgstr ? rolestr~' '~orgstr : rolestr %}

				    {{ rolestr }}{% if datestr %}, {{ datestr|raw }}{% endif %}{% if o.roleproperty|length > 0 %}, {{ o.roleproperty|map(p => "#{p.name} #{p.value}")|join(', ') }}{% endif %}{% if o.note %} ({{ o.note|protectOrdinal|raw }}){% endif %}
				</div>
			    {% endfor %}
			</div>
			<div class="row col-12 mx-2">
			    <div custom-style="Compact" class="small mt-2">
				{% for ref in person_loop.item.sortedreference('titleShort') %}
				    {% set idinref = ref.idinreference %}
				    {% if ref.referencevolume %}
					{{ ref.referencevolume.titleshort }}{% if ref.page %}, S.&nbsp;{{ ref.page|replace({'<b>':'', '</b>':''}) }}{% endif %}{% if idinref %}, ID/Nr.&nbsp;{{ idinref }}{% endif %}{% if not loop.last %} &ndash; {% endif %}
				    {% endif %}
				{% endfor %}
			    </div>
			</div>
		    {% endfor %}
		{% endfor %}
	    </div>
	{% endblock %}
    </body>
</html>
