{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% set corpusId = form.corpus.vars.value %}
    {{ form_start(form) }}
	<div class="container-fluid">
	    <div class="row ms-2 col-12">
		<span class="topic-title">{{ pageTitle }}</span>
	    </div>
	    {{ include("person/_form_elements.html.twig") }}
	    <div class="row mt-2 mx-2">
		<div class="col-12">
		    <button type="submit" class="btn btn-secondary btn-light btn-sm">Suche</button>
		</div>
	    </div>
	    {% if msg %}
		<div class="row col-12 ms-2 mt-2">
		    <p>{{ msg }}</p>
		</div>
	    {% endif %}
    {{ form_end(form) }}

{% endblock %}
