<!DOCTYPE html>
<html class="h-100" lang="de">
    <head>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}WIAG{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
        and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
	{# highlight the current menu item #}
	{% if menuItem is not defined %}
	    {% set menuItem='home' %}
	{% endif %}
	<main class="flex-shrink-0">
	    <div class="container-fluid">
		<div class="row mt-3 mx-2">
		    <div class="col-12" style="min-height: 6rem">
			<a href="{{ path('home') }}"><img class="float-start me-2" src="{{ asset('images/WIAG-logo.png') }}" width="80" alt="WIAG-Logo"></a>
			<a class="home-title text-reset text-decoration-none"
			   href="{{ path('home') }}">Wissensaggregator Mittelalter und Frühe Neuzeit</a> {% if false %}<span class="version ms-1">Version: Beta</span>{% endif %}
			<p>Strukturierung, Standardisierung und Bereitstellung von Forschungsdaten aus Sach- und Schriftquellen des Mittelalters und der Frühen Neuzeit</p>
		    </div>
		</div>
		<div class="row mx-2">
		    <div class="col-5">
			<span class="fw-bold">Version WIAG 3</span>
		    </div>
		</div>
	    </div>
	    <nav class="navbar navbar-expand-lg navbar-light bg-white">
		<div class="container-fluid mx-3">
		    <button class="navbar-toggler"
			    data-bs-toggle="collapse"
			    data-bs-target="#navbarSupportedContent"
			    aria-controls="navbarSupportedContent"
			    aria-expanded="false"
			    aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			    <li class="nav-item">
				{% if menuItem == 'home' %}
				    <a class="nav-link fw-bold active" role="button" aria-current="page" href="{{ path('home') }}">Start</a>
				{% else %}
				    <a class="nav-link fw-bold" role="button" href="{{ path('home') }}">Start</a>
				{% endif %}
			    </li>

			    <li class="nav-item dropdown">
				{% if menuItem == 'about' %}
				    <a class="nav-link dropdown-toggle fw-bold active" href="#" id="about-wiag" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">Über WIAG</a>
				{% else %}
				    <a class="nav-link dropdown-toggle fw-bold" href="#" id="about-wiag" data-bs-toggle="dropdown" aria-expanded="false">Über WIAG</a>
				{% endif %}
				<ul class="dropdown-menu" aria-labelledby="about-wiag">
				    <li><a class="dropdown-item" href="{{ path('about') }}">Ziele</a></li>
				    <li><a class="dropdown-item" href="{{ path('reference_list') }}">Referenzwerke</a></li>
				    {% if false %} {# TODO 2022-03-18 #}
					<li><a class="dropdown-item" href="{{ path('home') }}">API</a></li>
				    {% endif %}
				    <li><a class="dropdown-item" href="{{ path('contact') }}">Kontakt</a></li>
				</ul>
			    </li>
			    <li class="nav-item dropdown">
				{% if menuItem == 'collections' %}
				    <a class="nav-link dropdown-toggle fw-bold active" href="#" id="collections" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">Datensammlungen</a>
				{% else %}
				    <a class="nav-link dropdown-toggle fw-bold" href="#" id="collections" role="button" data-bs-toggle="dropdown" aria-expanded="false">Datensammlungen</a>
				{% endif %}
				<ul class="dropdown-menu" aria-labelledby="collections">
				    <li><a class="dropdown-item" href="{{ path('person_query', { 'corpusId': 'epc' }) }}">Bischöfe des Alten Reiches</a></li>
				    <li><a class="dropdown-item" href="{{ path('diocese_query') }}">Bistümer des Alten Reiches</a></li>
				    <li><a class="dropdown-item" href="{{ path('person_query', { 'corpusId': 'can' }) }}">Domherren des Alten Reiches</a></li>
				    <li><a class="dropdown-item" href="{{ path('priest_ut_query') }}">Priester des Bistums Utrecht</a></li>
				</ul>
			    </li>
			    <li class="nav-item">
				{% if menuItem == 'service' %}
				    <a class="nav-link fw-bold active" role="button" aria-current="page" href="{{ path('data_service') }}">Datenservice</a>
				{% else %}
				    <a class="nav-link fw-bold" role="button" href="{{ path('data_service') }}">Datenservice</a>
				{% endif %}
			    </li>
			    {# edit #}
			    {% if is_granted('ROLE_EDIT_MENU') %}
				{{ include('menu/_edit.html.twig') }}
			    {% endif %}
			    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle fw-bold" href="#" id="logout" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">Logout</a>
				    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="logout">
					{% if app.user %}
					    <li><a class="dropdown-item" href="{{ path('logout') }}">{{ app.user.name }} abmelden</a></li>
					{% else %}
					    <li><a class="dropdown-item" href="{{ path('logout') }}">Abmelden</a></li>
					{% endif %}
				    </ul>
				</li>
			    {% else %}
				<li class="nav-item">
				    {% if menuItem == 'login' %}
					<a class="nav-link fw-bold active" role="button" aria-current="page" href="{{ path('login') }}">Login</a>
				    {% else %}
					<a class="nav-link fw-bold" role="button" href="{{ path('login') }}">Login</a>
				    {% endif %}
				</li>
			    {% endif %}
			</ul>
		    </div>
		</div>
	    </nav>
	    {% block body %}{% endblock %}
	</main>
	<footer class="mt-auto pt-3 pb-2">
	    <div class="container-fluid">
		<div class="row justify-content-sm-center">
		    <div class="col-sm-10 text-left">
			<a href="https://adw-goe.de" class="mr-3" target="_blank" rel="noopener"><img src="{{ asset('images/ADWGoe-logo-fit.png') }}" height="60" alt="Akademie der Wissenschaften zu Göttingen"></a>
			<a href="http://www.inschriften.net" class="mx-3" target="_blank" rel="noopener"><img src="{{ asset('images/DI-logo-fit.png') }}" height="60" alt="Deutsche Inschriften"></a>
			<a href="https://adw-goe.de/forschung/forschungsprojekte-akademienprogramm/germania-sacra/" class="mx-3" target="_blank" rel="noopener"><img src="{{ asset('images/GS-logo.png') }}" alt="Germania Sacra" height="52"></a>
		    </div>
		</div>
		<div class="row justify-content-sm-center mt-2">
		    <div class="col-sm-10 text-left">
			<a href="https://adw-goe.de/impressum" class="wiag-impress" target="_blank" rel="noopener">Impressum</a>
			<a href="https://adw-goe.de/germania-sacra/mitarbeiter/-innen/" class="wiag-impress ms-2">Kontakt</a>
		    </div>
		</div>
	    </div>
	</footer>

    </body>
</html>
