{# TODO remove itemTypeId #}
<div name="_input_role_list"
     data-controller="insert sync"
     data-insert-url-value="{{ path('edit_person_new_role', {
			    'personIndex': personIndex
			    }) }}"
     data-insert-point-id-value="{{ personIndex }}_role-insert-point"
     data-insert-hide-trigger-value="yes">
    {# {% for role in person.role|sort((a, b) => a.dateSortKey <=> b.dateSortKey) %} #}
    {% for role in person.role %}
	{{ include('edit_person/_input_role.html.twig', {
	    current_idx: loop.index0,
	    is_last: loop.last,
	    role_id: role.id,
	}) }}
    {% endfor %}
    <div id="{{ personIndex }}_role-insert-point" class="d-none"></div>
</div>
{% for error_obj in person.item.inputErrorSection('role') %}
    <div class="row">
	{% set text_attr=error_obj.level == 'error' ? "text-danger" : "text-warning" %}
	<div class="col-12 {{ text_attr }}">{{ error_obj.msg }}</div>
    </div>
{% endfor %}
