{% set base_id=editFormId~'_'~personIndex %}
{% set base_input_name=editFormId~'['~personIndex~']' %}
{% set base_id_urlext=base_id~'_urlext_'~current_idx %}
{% set base_input_name_urlext=base_input_name~'[urlext]['~current_idx~']' %}
{% if is_last is not defined %}
    {% set is_last = true %}
{% endif %}
<div class="row"
     data-controller="input-state">
    {# col with add button and delete button #}
    <div class="col-1 text-end pe-0">
	{{ include('edit_person/_insert_delete.html.twig', { obj: urlext, base_id_delete: base_id_urlext, base_name_delete: base_input_name_urlext }) }}
    </div>
    <div class="col-11">
	<div class="input-group input-group-sm mb-1">
	    <span class="input-group-text">URL Name</span>
	    {# id (hidden) #}
	    {% if urlext.authority %}
		<input type="text"
		       id="{{ base_id_urlext }}_authorityId"
		       name="{{ base_input_name_urlext }}[authorityId]"
		       class="form-control form-control-sm d-none"
		       value="{{ urlext.authority.id }}">
	    {% else %}
		<input type="text"
		       id="{{ base_id_urlext }}_authorityId"
		       name="{{ base_input_name_urlext }}[authorityId]"
		       class="form-control form-control-sm d-none"
		       value="">
	    {% endif %}
	    <div class="w-50"
		 {{ stimulus_controller('autocomplete', {
		     url: path('person_suggest_base', { field: 'urlName' }),
		 }) }}>
		{% if urlext.authority %}
 		    <input type="text" id="{{ base_id_urlext }}_urlName"
			   name="{{ base_input_name_urlext}}[urlName]"
			   class="form-control form-control-sm wiag-input"
			   value="{{ urlext.authority.urlNameFormatter }}"
			   spellcheck="false"
			   aria-label="Institution/Katalog"
			   data-autocomplete-target="input">
		{% else %}
		    <input type="text" id="{{ base_id_urlext }}_urlName"
			   name="{{ base_input_name_urlext}}[urlName]"
			   class="form-control form-control-sm wiag-input"
			   value=""
			   spellcheck="false"
			   aria-label="Institution/Katalog"
			   data-autocomplete-target="input">

		{% endif %}
		<ul class="list-group autocomplete-target"
			   data-autocomplete-target="results"
			   style="max-width: 30rem;"></ul>
	    </div>
	    {% if urlext.authority %}
		<span class="input-group-text"><a href="{{ urlext.url }}" target="_blank" rel="noopener">ID/Nr.</a></span>
	    {% else %}
		<span class="input-group-text">ID/Nr.</span>
	    {% endif %}
	    <input type="text" id="{{ base_id_urlext }}_value"
		   name="{{ base_input_name_urlext}}[value]"
		   class="form-control form-control-sm wiag-input"
		   value="{{ urlext.value }}"
		   style="min-width: 15rem; max-width: 22%"
		   spellcheck="false"
		   aria-label="Id/Nummer">
	</div>
    </div>
</div>
