{{ include('edit_person/_input_url_external_essential.html.twig') }}
<div data-controller="insert"
     data-insert-url-value="{{ path('edit_person_new_urlexternal', {
			    'itemTypeId': itemTypeId,
			    'personIndex': personIndex
			    }) }}"
     data-insert-hide-trigger-value="yes"
     data-insert-point-value="last">
    {% for url_ext in person.item.urlexternalnonessential %}
	{{ include('edit_person/_input_url_external.html.twig', {
	    urlext: url_ext,
	    current_idx: loop.index0,
	    is_last: loop.last,
	}) }}
    {% endfor %}
</div>
<div class="row">
    <div class="col-12">
	<div class="input-group input-group-sm mb-1 mt-1">
	    <span class="input-group-text">Normdaten recherchiert von </span>
	    <div {{ stimulus_controller('autocomplete', {
		 url: path('person_suggest', {itemTypeId: itemTypeId, field: 'normdataEditedBy'}),
		 }) }} >
		<input type="text" id="{{ base_id }}_item_normdataEditedBy"
		       name="{{ base_input_name}}[item][normdataEditedBy]"
		       class="form-control form-control-sm wiag-input"
		       value="{{ person.item.normdataEditedBy }}"
		       style="max-width: 12em"
		       spellcheck="false"
		       aria-label="Status"
		       data-autocomplete-target="input">
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 20rem;"></ul>
	    </div>
	</div>
    </div>
</div>
{% for error_obj in person.item.inputErrorSection('external id') %}
    <div class="row">
	<div class="col-12 text-danger">{{ error_obj.msg }}</div>
    </div>
{% endfor %}
