<div data-hide-on-input-target="result">
    <form id ="{{ editFormId }}"
	  name="{{ editFormId }}"
	  action="{{ path('edit_person_save') }}"
	  method="post"
	  data-controller="submit-form"
	  data-action="submit-confirm:async:submit->submit-form#submit">
	{% set body_id_list = personList|map(p => 'body'~attribute(p, "id"))|join(' ') %}
	<div class="row mx-2">
	    <div class="col">
		{# disable submit via enter-key #}
		<button type="submit" disabled style="display: none" aria-hidden="true"></button>
		{# toggle collapse button #}
		{# observe limit of 1000 input fields #}
		{% if personList|length <= 40 %}
		    <button class="btn btn-sm btn-secondary float-start"
			    type="button"
			    data-bs-toggle="collapse"
			    data-bs-target=".multi-collapse"
			    aria-expanded="false"
			    aria-controls="{{ body_id_list }}"
			    {{ stimulus_controller('toggle-arrow', {
				state: true,
				imgOpen: 'down',
				imgClosed: 'right'
			    }) }}
			    data-action="toggle-arrow#toggle"
			    data-value="down">öffnen/schließen</button>
		    {% endif %}
	    </div>
	    <div class="col">
		{% if formType == "new_entry" %}
		    <button type="submit"
			    name="formType"
			    value="{{ formType }}"
			    class="btn btn-primary btn-sm float-end">Speichern</button>
		{% else %}
		    <button type="button"
			    name="formType"
			    value="{{ formType }}"
			    data-action="submit-form#submit"
			    class="btn btn-primary btn-sm float-end">Speichern</button>
		{% endif %}
	    </div>
	</div>
	<div class="row mx-2">
	    <div class="col-12">
		{% for person in personList %}
		    {{ include('edit_person/_item.html.twig', {
			personIndex: loop.index0,
			person: person,
		    }) }}
		{% endfor %}
	    </div>
	</div>
	{# submit #}
	<div class="row mx-2"
	     data-controller="submit-by-key"> {# attaches an event listener to window #}
	    <div class="col">
		{% set debug = false %}
		{% if debug %}
		    <button type="submit"
			    name="formType"
			    value="standalone"
			    data-submit-by-key-target="button"
			    class="btn btn-primary btn-sm float-end">Speichern (debug)</button>
		{% endif %}
		{% if formType == "new_entry"%}
		    <button type="submit"
			    name="formType"
			    value="{{ formType }}"
			    data-submit-by-key-target="button"
			    class="btn btn-primary btn-sm float-end">Speichern</button>
		{% else %}
		    <button type="button"
			    name="formType"
			    value="{{ formType }}"
			    data-submit-by-key-target="button"
			    data-action="submit-form#submit"
			    class="btn btn-primary btn-sm float-end">Speichern</button>
		{% endif %}
	    </div>
	</div>
    </form>
</div>
