<div class="container-fluid"
     data-controller="hide-on-input">
    {{ form_start(form, {
	'action': path("edit_person_merge_query"),
	'attr': { 'id': form.vars.id } }) }}
	{# submit form via ENTER key #}
	<div data-controller="trigger">
	    {{ include("edit_person/_form_elements.html.twig", {
		    indent_class: "",
		    input_width_name: 27,
		    input_width_institution: 11,
		    input_width_office: 16,
		    input_width_id: 14,
		    input_width_place: 12,
		    input_width_reference: 45,
		    input_width_duplicate: 6,
		    input_width_comment: 18,
		    input_width_misc: 18,
		    input_width_date: 16,
		}) }}
	    <div class="row mt-2">
		{% set query_modal_debug = false %}
		{% if query_modal_debug %}
		    <div class="col-12">
			<button type="submit"
				data-trigger-target="click"
				class="btn btn-secondary btn-light btn-sm">Suche</button>
		    </div>
		{% else %}
		    <div class="col-12">
			<button type="submit"
				id="modal-submit"
				form="{{ form.vars.id }}"
				data-trigger-target="click"
				class="btn btn-secondary btn-light btn-sm"
				data-action="modal-form#submitQuery">Suche</button>
		    </div>
		{% endif %}
	    </div>
	</div>
	{# empty structure for warnings set by JS #}
	<div class="row mt-2"><div class="col-12 wiag-form-warning"></div></div>
	{% if personList is defined %}
	    <div class="row mt-2"
		 data-hide-on-input-target="result">
 		<div class="col-12">
		    {% if count == 0 %}
			Treffer: keine
		    {% elseif count == 1 %}
			Treffer: 1
		    {% else %}
			Treffer: {{ offset + 1 }} - {{ min(offset + pageSize, count)}} von {{ count }}
			{% if count > pageSize %}
			    {{ include('modal/_page_browse.html.twig') }}
			{% endif %}
		    {% endif %}
		</div>
	    </div>
	{% endif %}
    {{ form_end(form) }}
    {# use the same div because of the scope of hide-on-input #}
    {% if personList is defined and count > 0 %}
	<div class="row"
	     data-hide-on-input-target="result">
	    <div class="col-12">
		{{ include('edit_person/_merge_list.html.twig') }}
	    </div>
	</div>
    {% endif %}
</div>
