{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
	<div class="row ms-2 mb-3 col-12">
	    <span class="topic-title">{{ bishop_title }} <a href="{{ path('reference_list', { 'itemTypeId': 1}) }}"><span class="text-nowrap">(nach Erwin Gatz)</span></a></span>
	    <span class="topic-title">Anlegen/Zusammenführen/Bearbeiten</span>
	</div>
	{% if count > 0 %}
	    {{ include('edit_bishop/_list.html.twig', {
		formType: 'new_entry',
	    }) }}
	    </div>
	{% endif %}
    </div>
{% endblock %}
