<div class="row ms-2">
    <div class="col-12">
	<div class="d-flex flex-wrap">
	    <div class="input-group input-group-sm">			    
	    <div class="w-30 me-2"
		 {{ stimulus_controller('autocomplete', {
		     url: path('diocese_suggest', { 'field': 'name' })
		 }) }}>
		{{ form_label(form.name) }}
		{{ form_errors(form.name) }}
		{{ form_widget(form.name, {
		    'attr': {
			'data-autocomplete-target': "input",
			'class': 'wiag-input'
		    }
		}) }}
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 22rem;"></ul>
	    </div>
	    <div class="w-20 me-2">
		{{ form_label(form.any) }}
		{{ form_errors(form.any) }}
		{{ form_widget(form.any, {
		    'attr': {
			'class': 'wiag-input',
		    }
		}) }}
	    </div>
	    <span class="me-2">
		{{ form_label(form.group) }}
		{{ form_errors(form.group) }}
		{{ form_widget(form.group, {
		    'attr': {
			'size': 3,
			'class': 'wiag-input',
			'style': 'min-width: 9rem',
		    }
		}) }}
	    </span>
	    </div>
	</div>
    </div>
</div>
