{% import "util.html.twig" as util %}
<div class="row mt-1">
    <div class="col-12">
	<div class="input-group input-group-sm mb-1">
	    <span class="input-group-text" style="min-width: 8rem">Name</span>
	    <input type="text" id="{{ base_id }}_name"
		   name="{{ base_input_name}}[name]"
		   class="form-control wiag-input"
		   style="min-width: 20rem"
		   value="{{ diocese.name }}"
		   spellcheck="false"
		   aria-label="Bezeichnung">
	    <div class="ms-1"
		 data-controller="submit-confirm"
		 data-submit-confirm-title-value="Eintrag löschen?"
		 data-submit-confirm-button-id-value="delete_{{ diocese.item.id }}"
		 data-submit-confirm-text-value="Der Eintrag wird gelöscht. Der Vorgang kann nicht rückgängig gemacht werden."
		 data-submit-confirm-confirm-button-text-value="Löschen"
		 data-submit-confirm-cancel-button-text-value="Abbrechen">
		{# use this hidden element to trigger the confirmed action #}
		{# set delete flag and save the edit form list #}
		<button type="submit"
			id="delete_{{ diocese.item.id }}"
			data-action="submit-form#submit"
			form="{{ editFormId }}"
			formaction="{{ path('edit_diocese_delete', {'q_id': diocese.item.id ?? 0 }) }}"
			class="d-none"></button>
		<button type="BUTTON"
			class="btn btn-sm btn-danger"
			data-action="submit-confirm#confirm">Eintrag löschen</button>
	    </div>
	</div>
	{{ include('edit_diocese/_input_skos_label_list.html.twig', {
	    'itemIndex': itemIndex
	}) }}
	<div class="input-group input-group-sm mb-1">
	    <span class="input-group-text" style="min-width: 8rem">Bemerkung</span>
	    <textarea id="{{ base_id }}_note"
		      style="height: 3.5rem"
		      name="{{ base_input_name }}[note]"
		      aria-label="Bemerkung"
		      class="form-control form-control-sm wiag-input">{{ diocese.note }}</textarea>
	</div>
	<div class="input-group input-group-sm mb-1">
	    <span class="input-group-text" style="min-width: 8rem">Status</span>
	    <input id="{{ base_id }}_dioceseStatus"
		   name="{{ base_input_name }}[dioceseStatus]"
		   aria-label="Status"
		   class="form-control form-control-sm wiag-input"
		   value="{{ diocese.dioceseStatus }}">
	    <span class="input-group-text" style="min-width: 8rem">Gründung</span>
	    <input id="{{ base_id }}_dateOfFounding"
		   name="{{ base_input_name }}[dateOfFounding]"
		   aria-label="Gründung"
		   class="form-control form-control-sm wiag-input"
		   value="{{ diocese.dateOfFounding }}">
	    <span class="input-group-text" style="min-width: 8rem">Aufhebung</span>
	    <input id="{{ base_id }}_dateOfDissolution"
		   name="{{ base_input_name }}[dateOfDissolution]"
		   aria-label="Aufhebung"
		   class="form-control form-control-sm wiag-input"
		   value="{{ diocese.dateOfDissolution }}">
	</div>
	<div class="input-group input-group-sm mb-1">
	    <span class="input-group-text" style="min-width: 8rem">Bischofssitz</span>
	    <div {{ stimulus_controller('autocomplete', {
		 url: path('place_suggest', { field: 'name' }),
		 }) }} >
		<input id="{{ base_id }}_bishopricSeat"
		       name="{{ base_input_name }}[bishopricSeat]"
		       aria-label="Bischofssitz"
		       class="form-control form-control-sm wiag-input"
		       style="min-width: 22rem"
		       value="{{ diocese.formBishopricSeat }}"
		       data-autocomplete-target="input">
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 20rem;"></ul>
	    </div>
	    <span class="input-group-text" style="min-width: 8rem">Kirchenprovinz</span>
	    <input id="{{ base_id }}_ecclesiasticalProvince"
		   name="{{ base_input_name }}[ecclesiasticalProvince]"
		   aria-label="Kirchenprovinz"
		   class="form-control form-control-sm wiag-input"
		   style="max-width: 22rem"
		   value="{{ diocese.ecclesiasticalProvince }}">
	</div>
	<div class="input-group input-group-sm mb-1">
	    <span class="input-group-text" style="min-width: 12rem">Anmerkung zum Bischofssitz</span>
	    <input id="{{ base_id }}_noteBishopricSeat"
		   name="{{ base_input_name }}[noteBishopricSeat]"
		   aria-label="Anmerkung zum Bischofssitz"
		   class="form-control form-control-sm wiag-input"
		   value="{{ diocese.noteBishopricSeat }}">
	</div>
	{{ include('edit_diocese/_input_url_external_list.html.twig', {
	    'itemIndex': itemIndex
	}) }}
    </div>
</div>
{% for error_obj in diocese.item.inputError %}
    <div class="row">
	{% set text_attr=error_obj.level == 'error' ? "text-danger" : "text-warning" %}
	<div class="col-12 {{ text_attr }}">{{ error_obj.msg }}</div>
    </div>
{% endfor %}
<hr class="my-2 border border-secondary border-2">
<div class="row">
    <div class="col-12">
	<div class="input-group input-group-sm">
	    <span class="input-group-text wiag-bg-internal" style="min-width: 10rem">Kommentar (red.)</span>
	    <textarea id="{{ base_id }}_comment"
		      style="height: 3rem"
		      name="{{ base_input_name }}[comment]"
		      class="form-control form-control-sm wiag-input">{{ diocese.comment }}</textarea>
	</div>
    </div>
</div>
{% set user=diocese.item.changedByUser %}
<div class="row">
    <div class="col-12">
	<span>referenziert (online): {{ diocese.referenceCount }}</span>
	<span class="wiag-log text-nowrap float-end me-1">geändert: {{ diocese.item.dateChanged|format_datetime() }}{% if user %}, {{ user.email }}{% endif %}</span>
	{# store data into the form #}
	{{ util.hiddenInput(base_id, base_input_name, ['item', 'changedBy'], diocese.item.changedBy) }}
	{{ util.hiddenInput(base_id, base_input_name, ['item', 'dateChanged'], diocese.item.dateChanged|format_datetime()) }}

    </div>
</div>
