<li class="nav-item dropdown">
    {% if menuItem == 'edit-menu' %}
	<a class="nav-link dropdown-toggle fw-bold active" href="#" id="edit-menu" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">Edit</a>
    {% else %}
	<a class="nav-link dropdown-toggle fw-bold" href="#" id="edit-menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
    {% endif %}
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="edit-menu">
	{% if is_granted('ROLE_EDIT_CAN') or is_granted('ROLE_EDIT_EPC') %}
	    <li><a class="dropdown-item" href="{{ path('edit_person_query', { 'corpusId': 'can,epc' }) }}">Bischöfe und Domherren</a></li>
	    <li><a class="dropdown-item" href="{{ path('edit_person_new', { 'corpusId': 'can,epc' }) }}" target="_blank" rel="noopener">Bischöfe und Domherren anlegen (neuer Tab)</a></li>
	    <li><hr class="dropdown-divider"></li>
	{% endif %}
	{% if is_granted('ROLE_EDIT_IBE') %}
	    <li><a class="dropdown-item" href="{{ path('edit_person_query', { 'corpusId': 'ibe' }) }}">Bischöfe der Iberischen Halbinsel</a></li>
	    <li><a class="dropdown-item" href="{{ path('edit_person_new', { 'corpusId': 'ibe' }) }}" target="_blank" rel="noopener">Bischöfe der Iberischen Halbinsel anlegen (neuer Tab)</a></li>
	    <li><hr class="dropdown-divider"></li>
	{% endif %}
	{% if is_granted('ROLE_EDIT_DIOC') %}
	    <li><a class="dropdown-item" href="{{ path('edit_diocese_query') }}">Bistümer</a></li>
	    <li><hr class="dropdown-divider"></li>
	{% endif %}
	{% if is_granted('ROLE_EDIT_CAN') or is_granted('ROLE_EDIT_EPC') %}
	    <li><a class="dropdown-item" href="{{ path('edit_person_query_doublet', { 'corpusId': 'can,epc' } ) }}">Dubletten für Bischöfe und Domherren abfragen</a></li>
	    <li><hr class="dropdown-divider"></li>
	{% endif %}
	<li><span class="dropdown-header">Basisdaten (neuer Tab)</span></li>
	<li><a class="dropdown-item" href="{{ path('edit_reference_query') }}" target="_blank" rel="noopener">Literatur</a></li>
	<li><a class="dropdown-item" href="{{ path('edit_authority_query') }}" target="_blank" rel="noopener">Normdaten/Externe Ressourcen</a></li>
	<li><a class="dropdown-item" href="{{ path('edit_prop') }}" target="_blank" rel="noopener">Attribute</a></li>
	<li><a class="dropdown-item" href="{{ path('edit_role_query') }}" target="_blank" rel="noopener">Ämter</a></li>
	{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DATA_EDIT') %}
	    <li><hr class="dropdown-divider"></li>
	    <li><span class="dropdown-header">Externe Quellen</span></li>
	    <li><a class="dropdown-item" href="{{ path('edit_monastery_update') }}" target="_blank" rel="noopener">Klöster</a></li>
	    <li><a class="dropdown-item" href="{{ path('gso_update_info') }}" target="_blank" rel="noopener">Domherren aus dem Digitalen Personenregister</a></li>
	{% endif %}
	{% if is_granted('ROLE_EDIT_USER') %}
	    <li><hr class="dropdown-divider"></li>
	    <li><a class="dropdown-item" href="{{ path('user_list') }}">Benutzerverwaltung</a></li>
	{% endif %}

    </ul>
</li>
