<li class="nav-item dropdown">
    {% if menuItem == 'edit-menu' %}
	<a class="nav-link dropdown-toggle fw-bold active" href="#" id="edit-menu" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">Edit</a>
    {% else %}
	<a class="nav-link dropdown-toggle fw-bold" href="#" id="edit-menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
    {% endif %}
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="edit-menu">
	<li><a class="dropdown-item" href="{{ path('edit_person_query', { 'itemTypeId' : '4'}) }}">Bischöfe</a></li>
	<li><a class="dropdown-item" href="{{ path('edit_person_new', { 'itemTypeId' : '4' }) }}" target="_blank" rel="noopener">Bischöfe anlegen (neuer Tab)</a></li>
	<li><a class="dropdown-item" href="{{ path('edit_person_query', { 'itemTypeId' : '5'}) }}">Domherren</a></li>
	<li><a class="dropdown-item" href="{{ path('edit_person_new', { 'itemTypeId' : '5'}) }}" target="_blank" rel="noopener">Domherren anlegen (neuer Tab)</a></li>
	<li><a class="dropdown-item" href="{{ path('edit_diocese_query') }}">Bistümer</a></li>
	<li><hr class="dropdown-divider"></li>
	<li><a class="dropdown-item" href="{{ path('edit_person_query_doublet', { 'itemTypeId' : '4'}) }}">Dubletten Bischöfe</a></li>
	<li><a class="dropdown-item" href="{{ path('edit_person_query_doublet', { 'itemTypeId' : '5'}) }}">Dubletten Domherren</a></li>
	<li><hr class="dropdown-divider"></li>
	<li><span class="dropdown-header">Basisdaten (neuer Tab)</span></li>
	<li><a class="dropdown-item" href="{{ path('edit_reference_query') }}" target="_blank" rel="noopener">Literatur</a></li>
	<li><a class="dropdown-item" href="{{ path('edit_authority_query') }}" target="_blank" rel="noopener">Normdaten/Externe Ressourcen</a></li>
	<li><a class="dropdown-item" href="{{ path('edit_prop') }}" target="_blank" rel="noopener">Attribute</a></li>
	<li><a class="dropdown-item" href="{{ path('edit_role_query') }}" target="_blank" rel="noopener">Ämter</a></li>
	<li><a class="dropdown-item" href="{{ path('edit_monastery_update') }}" target="_blank" rel="noopener">Klöster</a></li>
	{% if is_granted('ROLE_EDIT_USER') %}
	    <li><hr class="dropdown-divider"></li>
	    <li><a class="dropdown-item" href="{{ path('user_register') }}" target="_blank" rel="noopener">Benutzer eintragen</a></li>
	    <li><a class="dropdown-item" href="{{ path('user_list') }}">Benuterdaten bearbeiten</a></li>
	{% endif  %}
    </ul>
</li>
