{# params: obj base_id_delete base_name_delete #}
<input type="text"
       id="{{ base_id_delete }}_deleteFlag"
       name="{{ base_name_delete }}[deleteFlag]"
       class="form-control form-control-sm d-none"
       data-sync-target="toggle"
       value="{{ obj.deleteFlag }}">
{% if obj.deleteFlag == "delete" %}
    <button class="btn btn-light btn-sm"
		   type="button"
		   data-value="up"
		   data-controller="toggle-arrow"
		   data-toggle-arrow-target="button"
		   data-toggle-arrow-img-closed-value="3"
		   data-toggle-arrow-img-open-value="3-fill"
	    data-action="toggle-arrow#toggle click->on-input#mark click->sync#toggle"><img width="20" height="20" src="{{ asset('images/symbols/trash3-fill.svg') }}" alt="Mülleimer"></button>
{% else %}
    <button class="btn btn-light btn-sm"
	    type="button"
	    data-value="up"
	    data-controller="toggle-arrow"
	    data-toggle-arrow-target="button"
	    data-toggle-arrow-img-closed-value="3-fill"
	    data-toggle-arrow-img-open-value="3"
	    data-action="toggle-arrow#toggle click->on-input#mark click->sync#toggle"><img width="20" height="20" src="{{ asset('images/symbols/trash3.svg') }}" alt="Mülleimer"></button>
{% endif %}
