<div class="row mx-2 mt-3">
    <div class="col-12">
	<div class="d-flex flex-wrap"
	     data-action="input->hide-on-input#hideResults">
	    {# name #}
	    <div class="me-2 mt-1"
		 {{ stimulus_controller('autocomplete', {
		     url: path('person_suggest_online', { 'itemTypeId': itemTypeId, 'field': 'name' }),
		 }) }}>
		{{ form_label(form.name) }}
		{{ form_errors(form.name) }}
		{{ form_widget(form.name, {
		    attr: {
			'data-autocomplete-target': "input",
			'size': 31,
			'class': 'wiag-input',
		    },
		}) }}
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 20rem;"></ul>
	    </div>
	    {# domstift #}
	    <div class="me-2 mt-1"
		 {{ stimulus_controller('autocomplete', {
		     url: path('person_suggest_base', { 'field': 'domstift' }),
		 }) }}>
		{{ form_label(form.institution) }}
		{{ form_errors(form.institution) }}
		{{ form_widget(form.institution, {
		    attr: {
			'data-autocomplete-target': "input",
			'size': 15,
			'class': 'wiag-input',
		    },
		}) }}
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 14em;"></ul>
	    </div>
	    {# office #}
	    <div class="me-2 mt-1"
		 {{ stimulus_controller('autocomplete', {
		     url: path('person_suggest_online', { 'itemTypeId': itemTypeId, 'field': 'office' }),
		 }) }}>
		{{ form_label(form.office) }}
		{{ form_errors(form.office) }}
		{{ form_widget(form.office, {
		    attr: {
			'data-autocomplete-target': "input",
			'size': 18,
			'class': 'wiag-input',
		    },
		}) }}
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 14em;"></ul>
	    </div>
	    {# place #}
	    <div class="me-2 mt-1"
		 {{ stimulus_controller('autocomplete', {
		     url: path('person_suggest_online', { 'itemTypeId': itemTypeId, 'field': 'place'}),
		 }) }}>
		{{ form_label(form.place) }}
		{{ form_errors(form.place) }}
		{{ form_widget(form.place, {
		    attr: {
			'data-autocomplete-target': "input",
			'size': 12,
			'class': 'wiag-input',
		    },
		}) }}
		<ul class="list-group autocomplete-target"
		    data-autocomplete-target="results"
		    style="max-width: 12em;"></ul>
	    </div>
	    {{  form_row(form.year, {
		row_attr: {class: 'me-2 mt-1'},
		attr: {
		    'class': 'wiag-input',
		}
	    }) }}
	    {{  form_row(form.someid, {
		row_attr: {class: 'mt-1'},
		attr: {
		    'class': 'wiag-input',
		}
	    }) }}
	    {{ form_row(form.itemTypeId) }}
	</div>
    </div>
    {% if hide_facets is defined %}
	<div class="d-none" data-facet-state-target="facets">
	    {{ form_rest(form) }}
	</div>
    {% endif %}
</div>

{# {{ form_end(form) }} #}
