{% set person=canon['person'] %}
{% set item=canon['item'] %}
{% set id_public=person.item.idpublic %}
{% set permalink %}{{ protocol }}:{{ url('id', {id: id_public}, schemeRelative = true) }}{% endset %}

{# name, dates of birth and death #}
{% set dobdod = null %}
{% if not person.datebirth and not person.datedeath %}
{% else %}
    {% if person.datebirth and not person.datedeath %}
	{% set dobdod = "*&nbsp;" ~ person.datebirth %}
    {% elseif not person.datebirth and person.datedeath %}
	{% set dobdod = "†&nbsp;" ~ person.datedeath %}
    {% else %}
	{% set dobdod = "*&nbsp;" ~ person.datebirth ~ " †&nbsp;" ~ person.datedeath %}
    {% endif %}
{% endif %}
<div class="row mx-2 col-12">
    {# wiagid #}
    <div custom-style="WiagId" class="d-flex"><a class="ms-auto" href={{ permalink }}>{{ id_public }}</a></div>
    {# name #}
    <h3>{{ person.displayname }}{% if dobdod %}, {{ dobdod|raw }}{% endif %}</h3>
    {# comments #}
    {% if person.noteperson %}
	<div custom-style="Bemerkung">{{ person.noteperson }}</div>
    {% endif %}
</div>

{# offices and references#}
{% for item_loop in item %}
    {{ include('canon/_person_role_list_references.html.twig', {item: item_loop}, with_context = false) }}
{% endfor %}

{% if false and obsolete %}
{# offices and references#}
{% for item_loop in item %}
    {% set office_title = '' %}
    {% if item_loop.getsource == 'Domherr' %}
	{% set office_title = 'Amtsangaben aus Referenzwerken' %}
    {% elseif item_loop.getsource == 'Bischof GS' or item_loop.getsource == 'Domherr GS' %}
	{% set gsnid = item_loop.getidexternalobj('GS') %}
	{% set office_title %}<a href="{{ gsnid.authority.urlformatter~gsnid.value  }}" target="_blank" rel="noopener"><strong>Amtsangaben aus dem Digitalen Personenregister der Germania Sacra — {{ gsnid.value }}</strong></a>{% endset %}
    {% elseif item_loop.getsource == 'Bischof' %}
	{% set office_title = 'Amtsangaben aus der Datenbank Domherren des Alten Reiches' %}
	{% set office_title %}<a href="{{ path('id', {id: id_public}) }}" target="_blank" rel="noopener"><strong>Amtsangaben aus der Datenbank Bischöfe des Alten Reiches (WIAG) — {{ id_public }}</strong></a>{% endset %}
    {% endif %}
    {{ include('person/_person_role_group.html.twig', {
	person: item_loop.person,
	title: office_title,
	with_context: false
    }) }}
{% endfor %}
{% endif %}
