{# parameter: references #}
{# references are of type canon #}
<dt class="col-sm-3">{{ references|length > 1 ? 'Referenzwerke' : 'Referenzwerk' }}</dt>
<dd class="col-sm-9">
    <ul class="{% if references|length == 1 %}list-unstyled{% else %}pl-3{% endif %} small">
	{% for ref in references|sort((a, b) => (a.reference.id <=> b.reference.id)) %}
	    {% set refid = ref.idinreference %}
	    {% set refuri %}{% if ref.reference.onlineresource %}{{ ref.reference.onlineresource }}{% else %}{{ path('canon_reference', {'id': ref.reference.id }) }}{% endif %}{% endset %}
	    {% set refdisplaytitle=ref.reference.title %}
	    <li>{{ refdisplaytitle }}{% if ref.pagereference %}, S. {{ ref.pagereference }}{% if refid %}, ID/Nr. {{ refid }}{% endif %}{% else %}{% if refid %}, ID/Nr. {{ refid }}{% endif %}{% endif %}</li>
	{% endfor %}
    </ul>
</dd>
