{# offices, parameter: item #}
<div class="row col-12 mx-2">
    {% if item.itemTypeID == 6 %}
	<div class="d-flex mt-2"><h4 class="ms-auto"><a href="{{ item.UriExternalByAuthorityId(200) }}"> GSN {{ item.IdExternalByAuthorityId(200) }}</a></h4></div>
    {% endif %}
    {% if item.itemTypeID == 4 %}
	<div class="d-flex mt-2"><h4 class="ms-auto"><a href="{{ path('id', {id: item.idPublic}) }}">{{ item.idPublic}}</a></h4></div>
    {% endif %}
    {% for o in item.person.role %}
	<div custom-style="Aemter">
	    {% set datestr=null %}
	    {% if not o.datebegin and not o.dateend %}
	    {% elseif o.datebegin and not o.dateend %}
		{% set datestr=o.datebegin %}
	    {% elseif not o.datebegin and o.dateend %}
		{% set datestr=o.dateend %}
	    {% else %}
		{% set datestr=o.datebegin~'&nbsp;-&nbsp;'~o.dateend %}
	    {% endif %}

	    {% set orgstr=null %}
	    {% if o.diocesename and not o.institutionid %}
		{% set orgstr=o.diocesename %}
	    {% endif %}
	    {% if o.institutionid %}
		{% set orgstr=o.institution.name ?: o.institutionname %}
	    {% endif %}

	    {% if o.role and o.role.name %}{{ o.role.name }}{% elseif o.rolename %}{{ o.rolename }}{% endif %}
	    {{ orgstr }}{% if datestr %}, {{ datestr|raw }}{% endif %}{% if o.roleproperty|length > 0 %}, {{ o.roleproperty|map(p => "#{p.name} #{p.value}")|join(', ') }}{% endif %}{% if o.note %}, ({{ o.note }}){% endif %}
	</div>
    {% endfor %}
</div>
<div class="row col-12 mx-2">
    <div custom_style="Compact" class="small mt-2">
	{% for ref in item.reference %}
	    {% set idinref = ref.idinreference %}
	    {{ ref.referencevolume.titleshort }}{% if ref.page %}, S.&nbsp;{{ ref.page|replace({'<b>':'', '</b>':''}) }} {% endif %}{% if idinref %}, ID/Nr.&nbsp;{{ idinref }}{% endif %}{% if not loop.last %} &ndash; {% endif %}
	{% endfor %}
    </div>
</div>
