{# parameters: urltype, urls #}
<div class="card">
    {% if not urltype %}
	{% set urltype="Weitere Online Ressourcen" %}
    {% endif %}
    <span class="card-header"><strong>{{ urltype }}</strong></span>
    <div class="card-body">
	<ul class="list-unstyled mb-0">
	    {% for url in urls %}
		<li>
		    <ul class="list-inlined list-unstyled">
			{% if url.note %}
			    <li class="list-inline-item">{{ url.note }}</li>
			{% endif %}
			<li class="list-inline-item">
			    {% if url.authority %}
				<a href="{{ url.authority.urlformatter~url.value }}" target="_blank" rel="noopener">{{ url.authority.urlformatter~url.value }}</a></li>
			    {% else %}
				<a href="{{ url.value }}" target="_blank" rel="noopener">{{ url.value }}</a></li>
			    {% endif %}
		    </ul>
		</li>
	    {% endfor %}
	</ul>
    </div>
</div>
