
<div class="table-responsive">
    <table class="table">
	<thead class="thead-light">
	    <tr>
		<th scope="col" class="w-60">Name</th>
		<th scope="col">Ämter</th>
	    </tr>
	</thead>
	<tbody>
	    {% for c in canon %}
		{% set person=c.personName %}
		{% set displayname = person.combine('displayname') %}
		{% set datebirth = person.combine('datebirth') %}
		{% set datedeath = person.combine('datedeath') %}
		{% macro single_btn(offset, content, form) %}
		    <button
			type="submit"
			form="{{ form.vars.id }}"
			formaction="{{ path('canon_list_detail')  }}"
			class="btn btn-link p-0"
			name="offset"
			value="{{ offset }}">{{ content|raw }}</button>
		{% endmacro %}
		<tr>
		    <td class="align-top">
			{{ _self.single_btn(offset + loop.index0, displayname, form) }}
			    {% if not datebirth and not datedeath %}
			    {% elseif datebirth and not datedeath %}
				<p class="ms-3">* {{ datebirth }}</p>
			    {% elseif not datebirth and datedeath %}
				<p class="ms-3">&dagger; {{ datedeath }}</p>
			    {% else %}
				<p class="ms-3">* {{ datebirth }} <span class="ms-2">&dagger; {{ datedeath }}</span></p>
			    {% endif %}
		    </td>
		    <td class="align-top">{% for r in c.person.role %}
			{# use institution.nameShort when no place can be determined #}
			<small>{% if r.role and r.role.name %}{{ r.role.name }}{% elseif r.rolename %}{{ r.rolename }}{% endif %}
			    {% if r.placename %}({{ r.placename|join(', ') }})
			    {% elseif  r.diocese %}({{ r.diocese.name }})
			    {% elseif r.diocesename %}({{ r.diocesename }})
			    {% elseif r.institution and r.institution.nameShort %}({{ r.institution.nameShort }})
			    {% endif %}
			    {% if r.datebegin and not r.dateend %}{{ r.datebegin }}
				{% elseif not r.datebegin and r.dateend %}{{ r.dateend }}
			    {% elseif r.datebegin and r.dateend %}{{ r.datebegin }}-{{ r.dateend }}{% endif %}
			</small><br/>{% endfor %}
			{% if c.otherSource %}
			    {{ _self.single_btn(offset + loop.index0, "<small>&hellip;</small>", form) }}
			{% endif %}
		    </td>
		</tr>
	    {% endfor %}
	</tbody>
    </table>
</div> {# table-responsive #}
