{% extends 'base.html.twig' %}
{% set menuItem='collections' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if not personName %}
	<div class="row mx-2 col-12 mt-4 mb-2">
	    <p class="em">Domherr nicht gefunden.</p>
	</div>
    {% else %}
	{% set id_public = personName.item.idpublic %}
	{% set permalink %}{{ protocol }}:{{ url('id', {id: id_public}, schemeRelative = true) }}{% endset %}
	{% set citation %}"{{ personName.combine('displayname') }}" in: WIAG, {{ protocol }}:{{ url('id', {id: id_public}, schemeRelative = true) }} (Abgerufen: {{ "now"|date('d.m.Y') }}).{% endset %}
	{% set btnpanel %}
	<div class="row mx-2 col-12 mt-4 mb-2">
	    <div class="d-flex">
		{% if form is defined %}
		    {{ include('person/_button_step.html.twig',
			{formaction: path('canon_list_detail'), value: offset - 1, disabled: offset == 0, text: 'vorheriger Treffer'}) }}
		    {{ include('person/_button_step.html.twig',
			{formaction: path('canon_list_detail'),value: offset + 1, disabled: not hassuccessor, text: 'nächster Treffer'}) }}
		    <button type="submit" form="form" class="btn btn-outline-secondary btn-sm me-1" name="offset" value="{{ offset }}">Ergebnisliste</button>
		{% else %}
		    <a href="{{ path('canon_query') }}" type="button" class="btn btn-outline-secondary btn-sm me-3">Suche</a>
		{% endif %}
		{# button data #}
		{% for fmtft in [
		    {format: 'Csv', text: 'CSV'},
		    {format: 'Rdf', text: 'RDF-XML'},
		    {format: 'Json', text: 'JSON'},
		    {format: 'Jsonld', text: 'JSON-LD'},
		] %}
		    <a href="{{ path('id', {id: personName.item.idpublic, format: fmtft.format}) }}" type="button" class="btn btn-secondary btn-light btn-sm ms-2">{{ fmtft.text }}</a>
		{% endfor %}
	    </div>
	</div>
	{% endset %}
	<div class="container-fluid"
	     data-controller="hide-on-input facet-state">
	    <div class="row ms-2 col-12">
		<span class="topic-title">{{ canon_title }}</span>
	    </div>
	    {% if form is defined %}
		{{ form_start(form, {
		    'attr': {
			'id': 'form',
			'action': path('canon_query'),
			'data-action': 'input->facet-state#clearFacet',
		    }
		}) }}
		    {{ include('canon/_form_elements.html.twig', {hide_facets: true}) }}
		    <div class="row mt-2 mx-2">
			<div class="col-12">
			    <button type="submit" class="btn btn-secondary btn-light btn-sm me-1">Suche</button>
			</div>
		    </div>
		{{ form_end(form) }}
	    {% endif %}
	    <div data-hide-on-input-target="result">
		{{ btnpanel }}
		{# name, comments, dates of birth and death #}
		{{ include('person/_person_header.html.twig', {person: personName, idpublic: personName.item.idpublic }, with_context = false) }}
		{# religious order #}
		{% if  personName.religiousorder %}
		    <div class="row mx-2 mt-2">
			<div class="col-1">
			    Orden
			</div>
			<div class="col-11">
			    {{ personName.religiousorder.abbreviation }}
			</div>
		    </div>
		{% endif %}
		{# offices and references#}
		{% for person in personRole %}
		    {# debug #}
		    {# <span>{{ person.familyname }}, {{ person.givenname }}, {{ person.itemtypeid }}</span> #}
		    {% set office_title = '' %}
		    {% if person.item.getsource == 'Domherr' %}
			{% set office_title = 'Amtsangaben aus Referenzwerken' %}
		    {% elseif person.item.getsource == 'Bischof GS' or person.item.getsource == 'Domherr GS' %}
			{% set gsnid = person.item.geturlexternalobj('GS') %}
			{% set office_title %}<a href="{{ gsnid.authority.urlformatter~gsnid.value  }}" target="_blank" rel="noopener"><strong>Amtsangaben aus dem Digitalen Personenregister der Germania Sacra — {{ gsnid.value }}</strong></a>{% endset %}
		    {% elseif person.item.getsource == 'Bischof' %}
			{% set office_title = 'Amtsangaben aus der Datenbank Domherren des Alten Reiches' %}
			{% set office_title %}<a href="{{ path('id', {id: id_public}) }}" target="_blank" rel="noopener"><strong>Amtsangaben aus der Datenbank Bischöfe des Alten Reiches (WIAG) — {{ id_public }}</strong></a>{% endset %}
		    {% endif %}
		    {{ include('person/_person_role_group.html.twig', {
			person: person,
			title: office_title,
			with_context: false
		    }) }}
		{% endfor %}

		{# external IDs #}
		{{ include('person/_person_url_external.html.twig') }}

		{% if false %}
		{# select person with highest role priority (Domherr > Domherr GS > Bishop) #}
		{% if personName.item.displayIdExternal %}
		    <div class="row mx-2 mt-3 mb-2">
			<div class="col-12">
			    {{ include('person/_person_id_external.html.twig', {
				ids: personName.item.idExternal
			    }) }}
			</div>
		    </div>
		{% endif %}

		{% set url_by_type=personName.urlbytype %}
		{% if url_by_type is null or url_by_type is empty %}
		    {% set url_by_type=personName.sibling ? personName.sibling.urlbytype : [] %}
		{% endif %}
		{% for urltype in url_by_type|keys %}
		    <div class="row mx-2 mt-3 mb-2">
			<div class="col-12">
			    {{ include('person/_person_url_external.html.twig', {
				urltype: urltype,
				urls: url_by_type[urltype],
			    }) }}
			</div>
		    </div>
		{% endfor %}
		{% endif %}
		{# citation #}
		<div class="row mx-2">
		    <div class="col-12">
			Empfohlene Zitierweise:
			<button type="button"
				class="btn btn-sm"
				title="Kopiere die Zitierweise"
				{{ stimulus_controller('clipboard') }}
				data-action="clipboard#copyCitation"><img src="{{ asset('images/clipboard.svg') }}"></button><br/>
			<span id="citation">{{ citation }}</span>
		    </div>
		</div>
		{# button line #}
		{{ btnpanel }}
	    </div>
	</div>
    {% endif %}
{% endblock %}
