{% extends 'base.html.twig' %}
{% set menuItem='collections' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if not person %}
	<div class="row mx-2 col-12 mt-4 mb-2">
	    <p class="em">Domherr nicht gefunden.</p>
	</div>
    {% else %}
	{% set id_public = person.item.idpublic %}
	{% set permalink %}{{ protocol }}:{{ url('id', {id: id_public}, schemeRelative = true) }}{% endset %}
	{% set citation %}"{{ person.displayname }}" in: WIAG, {{ protocol }}:{{ url('id', {id: id_public}, schemeRelative = true) }} (Abgerufen: {{ "now"|date('d.m.Y') }}).{% endset %}
	{% set btnpanel %}
	<div class="row mx-2 col-12 mt-4 mb-2">
	    <div class="d-flex">
		{% if form is defined %}
		    {{ include('canon/_button_step.html.twig',
			{value: offset - 1, disabled: offset == 0, text: 'vorheriger Treffer'}) }}
		    {{ include('canon/_button_step.html.twig',
			{value: offset + 1, disabled: not hassuccessor, text: 'nächster Treffer'}) }}
		    <button type="submit" form="form" class="btn btn-outline-secondary btn-sm me-1" name="offset" value="{{ offset }}">Ergebnisliste</button>
		    <a href="{{ path('canon_query') }}" type="button" class="btn btn-outline-secondary btn-sm me-3">Neue Suche</a>
		{% else %}
		    <a href="{{ path('canon_query') }}" type="button" class="btn btn-outline-secondary btn-sm me-3">Suche</a>
		{% endif %}
		{# button data #}
		{% for fmtft in [
		    {format: 'Csv', text: 'CSV'},
		    {format: 'Rdf', text: 'RDF-XML'},
		    {format: 'Json', text: 'JSON'},
		    {format: 'Jsonld', text: 'JSON-LD'},
		] %}
		    <a href="{{ path('id', {id: person.item.idpublic, format: fmtft.format}) }}" type="button" class="btn btn-secondary btn-light btn-sm ms-2">{{ fmtft.text }}</a>
		{% endfor %}
	    </div>
	</div>
	{% endset %}
	{% if form is defined %}
	    {{ form_start(form, {'attr': {'id':'form', 'action':path('canon_query'), 'hidden': 'hidden'} }) }}
		{{ include('canon/_form_elements.html.twig') }}
	    {{ form_end(form) }}
	{% endif %}
	<div class="container-fluid mt-3 mb-2">
	    <div class="row mx-2 col-12">
		<span class="topic-title">{{ canon_title }}</span>
	    </div>
	    {{ btnpanel }}
	    {# name and button to copy permalink to the clipboard #}
	    <div class="row col-12 mx-2 mt-2 mb-0">
		<div class="d-flex justify-content-between">
		    <span class="fs-2">{{ person.displayname[:200] }}</span>
		    <button type="button"
			    class="btn"
			    title={{ permalink }}
			    {{ stimulus_controller('clipboard') }}
			    data-action="clipboard#copyTitle">{{ id_public }} <img src="{{ asset('images/link45deg.svg') }}" width="18"></button>
		</div>
	    </div>
	    {# comments, dates #}
	    {% if person.commentLine %}
		<div class="row mx-2">
		    <div class="col-12 comment">
			{{ person.commentLine }}
		    </div>
		</div>
	    {% endif %}
	    {# date birth, date death #}
	    {% if person.datebirth or person.datedeath %}
		<div class="row mx-2 col-12 mt-2">
		    {% if person.datebirth and not person.datedeath %}
			<span class="wiag-large">* {{ person.datebirth }}</span>
		    {% elseif not person.datebirth and person.datedeath %}
			<span class="wiag-large">&dagger; {{ person.datedeath }}</span>
		    {% else %}
			<span class="wiag-large">* {{ person.datebirth }} <span class="pl-3">&dagger; {{ person.datedeath }}</span></span>
		    {% endif %}
		</div>
	    {% endif %}
	    {# religious order #}
	    {% if  person.religiousorder %}
		<div class="row mx-2 mt-2">
		    <div class="col-2">
			Orden
		    </div>
		    <div class="col-10">
			{{ person.religiousorder.abbreviation }}
		    </div>
		</div>
	    {% endif %}
	    {# offices and references#}
	    {% for item_loop in item %}
		{% set office_title = '' %}
		{% if item_loop.getsource == 'Domherr' %}
		    {% set office_title = 'Amtsangaben aus Referenzwerken' %}
		{% elseif item_loop.getsource == 'Bischof GS' or item_loop.getsource == 'Domherr GS' %}
		    {% set gsnid = item_loop.getidexternalobj('GS') %}
		    {% set office_title %}<a href="{{ gsnid.authority.urlformatter~gsnid.value  }}" target="_blank" rel="noopener"><strong>Amtsangaben aus dem Digitalen Personenregister der Germania Sacra — {{ gsnid.value }}</strong></a>{% endset %}
		{% elseif item_loop.getsource == 'Bischof' %}
		    {% set office_title = 'Amtsangaben aus der Datenbank Domherren des Alten Reiches' %}
		    {% set office_title %}<a href="{{ path('id', {id: id_public}) }}" target="_blank" rel="noopener"><strong>Amtsangaben aus der Datenbank Bischöfe des Alten Reiches (WIAG) — {{ id_public }}</strong></a>{% endset %}
		{% endif %}
		{{ include('canon/_person_role_group.html.twig', {
		    person: item_loop.person,
		    title: office_title,
		    with_context: false
		}) }}
	    {% endfor %}

	    {# external IDs #}
	    {# select person with highest role priority (Domherr > Domherr GS > Bishop) #}
	    {% if (item[0].idExternal and item[0].idExternal|length > 0) %}
		<div class="row mx-2 mt-3 mb-2">
		    <div class="col-12">
			{{ include('canon/_person_id_external.html.twig', {
			    ids: person.item.idExternal
			}) }}
		    </div>
		</div>
	    {% endif %}
	    {% for urltype in person.urlbytype|keys %}
		<div class="row mx-2 mt-3 mb-2">
		    <div class="col-12">
			{{ include('canon/_person_url_external.html.twig', {
			    urltype: urltype,
			    urls: person.urlbytype[urltype],
			}) }}
		    </div>
		</div>
	    {% endfor %}
	    <div class="row mx-2">
		<div class="col-12">
		    Empfohlene Zitierweise:
		    <button type="button"
			    class="btn btn-sm"
			    title="Kopiere die Zitierweise"
			    {{ stimulus_controller('clipboard') }}
			    data-action="clipboard#copyCitation"><img src="{{ asset('images/clipboard.svg') }}"></button><br/>
		    <span id="citation">{{ citation }}</span>
		</div>
	    </div>
	    {# button line #}
	    {{ btnpanel }}
	</div>
    {% endif %}
{% endblock %}
