{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form, {
	'attr': {
	    'id': 'form',
	    'data-controller': 'facet-state hide-on-input facet-submit',
	    'data-action': 'shown.bs.collapse->facet-state#register hidden.bs.collapse->facet-state#register input->facet-state#clearFacet input->facet-submit#submit'
	}
    }) }}
	<div class="container-fluid">
	    <div class="row ms-2 col-12">
		<span class="topic-title">{{ canon_title }}</span>
	    </div>
	    {{ include("canon/_form_elements.html.twig") }}
	    <div class="row mt-2 mx-2">
		<div class="col-12">
		    <button type="submit" class="btn btn-secondary btn-light btn-sm me-1">Suche</button>
		    {% if count > 0 %}
			{% for fmtft in [
			    {format: 'Csv', text: 'CSV'},
			    {format: 'Rdf', text: 'RDF-XML'},
			    {format: 'Json', text: 'JSON'},
			    {format: 'Jsonld', text: 'JSON-LD'},
			] %}
			    <button type="submit" form="form" formaction={{ path('canon_query_data') }} name="format" value="{{ fmtft.format }}" class="btn btn-secondary btn-light btn-sm ms-2">{{ fmtft.text }}</button>
			{% endfor %}
			{% if is_granted('ROLE_CANON_ONEPAGE') %}
			    <button type="submit" form="form" formaction={{ path('canon_onepage') }} name="onepage" class="btn btn-secondary btn-light btn-sm ms-2">Liste chron.</button>
			    <button type="submit" form="form" formaction={{ path('canon_onepage_references', {itemType: 6}) }} name="onepage_references_gs" class="btn btn-secondary btn-light btn-sm ms-2">Lit. GS</button>
			    <button type="submit" form="form" formaction={{ path('canon_onepage_references', {itemType: 5}) }} name="onepage_references_gs" class="btn btn-secondary btn-light btn-sm ms-2">Lit. andere</button>
			{% endif %}
		    {% endif %}
		    <a href="{{ path('canon_query') }}" type="button" class="btn btn-secondary btn-light btn-sm ms-3">Neue Suche</a>
		</div>
	    </div>
	    <div data-hide-on-input-target="result"
		 data-controller="sync-input">
		<div class="row mt-2 mx-2">
 		    <div class="col-12">
			{% if count == 0 %}
			    Treffer: keine
			{% elseif count == 1 %}
			    Treffer: 1
			{% else %}
			    Treffer: {{ offset + 1 }} - {{ min(offset + pageSize, count)}} von {{ count }}
			    {% if count > pageSize %}
				{# forward/backward buttons #}
				{{ include('person/_page_browse.html.twig') }}
			    {% endif %}
			{% endif %}
		    </div>
		</div>
		{# results #}
		{# show facets if they cause an empty result list #}
		{% if count > 0 or form.facetDiocese is defined or form.facetOffice is defined %}
		    <div class="row my-2 mx-2">
			<div class="col-9">
			    {# table  #}
			    {{ include("canon/_results.html.twig") }}
			</div>
			{# facets #}
			<div class="col-3" data-facet-state-target="facets">
			    {% if form.facetDomstift is defined %}
				{{ include('canon/_facet.html.twig', {
				    facet: form.facetDomstift,
				    facetTitle: 'Filter Domstift',
				    facetState: form.stateFctDmt.vars.value,
				    facetShort: 'Dmt'
				}) }}
				{{ form_row(form.stateFctDmt) }}
			    {% endif %}
			    {% if form.facetOffice is defined %}
				{{ include('canon/_facet.html.twig', {
				    facet: form.facetOffice,
				    facetTitle: 'Filter Amt',
				    facetState: form.stateFctOfc.vars.value,
				    facetShort: 'Ofc'
				}) }}
				{{ form_row(form.stateFctOfc) }}
			    {% endif %}
			    {% if form.facetPlace is defined %}
				{{ include('canon/_facet.html.twig', {
				    facet: form.facetPlace,
				    facetTitle: 'Filter Ort',
				    facetState: form.stateFctPlc.vars.value,
				    facetShort: 'Plc'
				}) }}
				{{ form_row(form.stateFctPlc) }}
			    {% endif %}
			    {% if form.facetUrl is defined %}
				{{ include('canon/_facet.html.twig', {
				    facet: form.facetUrl,
				    facetTitle: 'Filter externe URL',
				    facetState: form.stateFctUrl.vars.value,
				    facetShort: 'Url'
				}) }}
				{{ form_row(form.stateFctUrl) }}
			    {% endif %}
			</div>
		    </div>
		{% endif %}
		{% if count > pageSize %}
		    <div class="row col-12 mx-2">
			{# forward/backward buttons #}
			{{ include('person/_page_browse.html.twig') }}
		    </div>
		{% endif %}
	    </div>
	</div>
    {{ form_end(form) }}

{% endblock %}
