{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
	<div class="container-fluid">
	    <div class="row ms-2 col-12">
		<span class="topic-title">{{ canon_title }}</span>
	    </div>
	    {{ include("canon/_form_elements.html.twig") }}
	    <div class="row mt-2 mx-2">
		<div class="col-12">
		    <button type="submit" class="btn btn-secondary btn-light btn-sm me-1">Suche</button>
		</div>
	    </div>
	</div>

    {{ form_end(form) }}

{% endblock %}
